<div class="list-filter" #searchInput (click)="toggleDropdown($event)">

    <span class="material-icons icon-search">search</span>

    <div class="label" [ngClass]="{active: labelActive}">{{ label }}</div>

    <input class="c-input not-styled" type="text" [(ngModel)]="filter">

    <span [hidden]="!hasValue(filter)" (click)="clearSearch()" class="material-icons icon-clear">cancel</span>

    <div class="controls">

        <!-- <button type="button" *ngIf="settings.clearAll && !isDisabled && selectedItems?.length > 0" class="clear-all" (click)="clearSelection($event);">
            <span class="material-icons">close</span>
        </button> -->

        <span class="material-icons chevron" [ngClass]="{'rotate': isActive}">keyboard_arrow_down</span>
    </div>

</div>

<div class="selected-list" #selectedList [attr.tabindex]="0">

    <div class="values">

        <ng-container *ngIf="hasValue(selectedItems)">

            <div class="token-list">
                <div class="token" *ngFor="let item of selectedItems;trackBy: trackByFn.bind(this);let k = index">
                    <ng-container>

                        <span *ngIf="!hasValue(badgeTempl)" class="label">{{ item[settings.labelKey] }}</span>
                        <span *ngIf="hasValue(badgeTempl)" class="label">
                            <ng-container *ngTemplateOutlet="badgeTempl.template; context:{item: item}"></ng-container>
                        </span>

                        <span class="remove" (click)="onItemClick(item, k, $event);$event.stopPropagation()">
                            <span class="material-icons">close</span>
                        </span>
                    </ng-container>
                </div>
            </div>

        </ng-container>
    </div>
</div>

<div #dropdownList class="dropdown-list">

    <div class="pure-checkbox select-all" *ngIf="settings.enableCheckAll && data?.length > 0 && !isDisabledItemPresent" (click)="toggleSelectAll()">
        <input type="checkbox" [checked]="isSelectAll" />
        <label>
            <span [hidden]="isSelectAll">{{ settings.selectAllText }}</span>
            <span [hidden]="!isSelectAll">{{ settings.unSelectAllText }}</span>
        </label>
    </div>

    <div class="filter-select-all" *ngIf="settings.enableFilterSelectAll && !isDisabledItemPresent">

        <div class="pure-checkbox select-all" *ngIf="filter?.length > 0 && filterLength > 0" (click)="toggleFilterSelectAll()">
            <input type="checkbox" [checked]="isFilterSelectAll" />
            <label>
                <span [hidden]="isFilterSelectAll">{{settings.filterSelectAllText}}</span>
                <span [hidden]="!isFilterSelectAll">{{settings.filterUnSelectAllText}}</span>
            </label>
        </div>

        <!-- <div class="nodata-label" *ngIf="filterLength == 0" [hidden]="filter == undefined || filter?.length == 0">{{ settings.noDataLabel }}</div> -->

    </div>

    <div *ngIf="!hasValue(itemTempl)" class="list lazyContainer" [style.maxHeight]="settings.maxHeight+'px'">
        <ng-container *ngFor="let item of data | serFilterListFilter:filter : settings.searchBy; let i = index;">
            <div class="item pure-checkbox"  *ngIf="!isSelected(item)" (click)="onItemClick(item, i, $event)">
                {{ item[settings.labelKey] }}
            </div>
        </ng-container>
    </div>

    <div *ngIf="hasValue(itemTempl)" class="list lazyContainer" [style.maxHeight]="settings.maxHeight+'px'">
        <div class="item pure-checkbox" *ngFor="let item of data | serFilterListFilter:filter : settings.searchBy; let i = index;" (click)="onItemClick(item, i, $event)">
            <ng-container *ngIf="!isSelected(item)">
                <ng-container *ngTemplateOutlet="itemTempl.template; context:{item: item}"></ng-container>
            </ng-container>
        </div>
    </div>

    <h5 class="list-message" *ngIf="!hasValue(data)">{{ settings.noDataLabel }}</h5>

</div>
