<div class="list-filter" #searchInputCont (click)="toggleDropdown($event)">

    <span class="material-icons icon-search">search</span>

    <div class="label" [ngClass]="{active: labelActive}">{{ label }}</div>

    <input #searchInput class="c-input not-styled" type="text" [formControl]="search">

    <span [hidden]="!hasValue(search.value)" (click)="clearSearch()" class="material-icons icon-clear">cancel</span>

    <div class="controls">
        <span class="material-icons chevron" [ngClass]="{'rotate': isActive}">keyboard_arrow_down</span>
    </div>

</div>

<div class="selected-list" #selectedList [attr.tabindex]="0">

    <div class="values">

        <ng-container *ngIf="hasValue(selectedItems)">

            <div class="token-list">
                <div class="token" *ngFor="let item of selectedItems;trackBy: trackByFn.bind(this);let k = index">
                    <ng-container>

                        <span *ngIf="!hasValue(badgeTempl) && !hasValue(badgeItemTempl)" class="label">{{ item[settings.labelKey] }}</span>
                        <span *ngIf="hasValue(badgeTempl)" class="label">
                            <ng-container *ngTemplateOutlet="badgeTempl.template; context:{item: item}"></ng-container>
                        </span>
                        <span *ngIf="hasValue(badgeItemTempl)" class="label">
                            <ng-container *ngTemplateOutlet="badgeItemTempl.template; context:{item: item}"></ng-container>
                        </span>

                        <span class="remove" (click)="onItemClick(item);$event.stopPropagation()">
                            <span class="material-icons">close</span>
                        </span>
                    </ng-container>
                </div>
            </div>

        </ng-container>
    </div>
</div>

<div #dropdownList class="dropdown-list">

    <div class="list" [style.maxHeight]="settings.maxHeight+'px'">

        <ng-container *ngIf="!hasValue(itemTempl) && !hasValue(badgeItemTempl)">
            <ng-container *ngFor="let item of filteredList; let i = index;">
                <div class="item pure-checkbox"  *ngIf="!isSelected(item)" (click)="onItemClick(item)">
                    {{ item[settings.labelKey] }}
                </div>
            </ng-container>
        </ng-container>

        <ng-container *ngIf="hasValue(itemTempl) || hasValue(badgeItemTempl)">
            <ng-container *ngFor="let item of filteredList; let i = index;">
                <div class="item pure-checkbox" *ngIf="!isSelected(item)" (click)="onItemClick(item)">
                    <ng-container *ngIf="hasValue(itemTempl)">
                        <ng-container *ngTemplateOutlet="itemTempl.template; context:{item: item}"></ng-container>
                    </ng-container>
                    <ng-container *ngIf="hasValue(badgeItemTempl)">
                        <ng-container *ngTemplateOutlet="badgeItemTempl.template; context:{item: item}"></ng-container>
                    </ng-container>
                </div>
            </ng-container>
        </ng-container>

    </div>

    <h5 class="list-message" *ngIf="!hasValue(data)">{{ settings.noDataLabel }}</h5>

</div>
