

<h2>
    <a class="bttn icon " href="#fullscreen">
        <span class="material-symbols-rounded">link</span>
    </a>
    Fullscreen
</h2>

<p class="description">
    (<a href="https://sersoluciones.github.io/ngx-ui-doc/classes/_fullscreen_.fullscreen.html" target="_blank" rel="noopener noreferrer">Fullscreen</a>)
    Clase para entrar y salir del modo pantalla completa en el navegador web
</p>

<div class="bttn-group">
    <button type="button" class="bttn" (click)="fullscreen.toggle()" [disabled]="fullscreen.isEnabled" [ngClass]="{blue: fullscreen.isEnabled}">Entrar</button>
    <button type="button" class="bttn" (click)="fullscreen.disable()" [disabled]="!fullscreen.isEnabled" [ngClass]="{blue: !fullscreen.isEnabled}">Salir</button>
</div>

<pre><code [highlight]="examples.FullscreenExample"></code></pre>

<div class="separator"></div>

<h2>
    <a class="bttn icon " href="#snackbar">
        <span class="material-symbols-rounded">link</span>
    </a>
    Snackbar
</h2>

<p class="description">
    (<a href="https://sersoluciones.github.io/ngx-doc/injectables/SnackbarService.html" target="_blank" rel="noopener noreferrer">Snackbar</a>)
    Servicio para mostrar un snackbar temporal con un mensaje
</p>

<div class="row-wrap start-center" [formGroup]="snackbarForm">
    <ser-form-element>
        <label>Mensaje</label>
        <input serControl formControlName="msj">
    </ser-form-element>

    <ser-form-element>
        <label>Color</label>
        <ser-select serControl formControlName="class" [data]="snackbarDataClass" simple></ser-select>
    </ser-form-element>

    <ser-form-element style="min-width: 200px;">
        <label>Material Icon</label>
        <ser-select serControl formControlName="icon" [data]="snackbarDataIcon" lazyLoading>

            <ng-template sd-badge-item let-item="item">
                <div class="select-template">
                    <span class="material-symbols-rounded">{{ item }}</span>
                    <div style="margin-left: 16px;">{{ item }}</div>
                </div>
            </ng-template>

        </ser-select>
    </ser-form-element>

    <button type="button" class="bttn green" (click)="openSnackbar()">Mostrar</button>
</div>

<pre><code [highlight]="examples.FullscreenExample"></code></pre>


<div class="separator"></div>

<h2>
    <a class="bttn icon " href="#random-password">
        <span class="material-symbols-rounded">link</span>
    </a>
    Contraseña aleatoria
</h2>

<p class="description">
    (<a href="https://sersoluciones.github.io/ngx-doc/miscellaneous/functions.html#generatePassword" target="_blank" rel="noopener noreferrer">generatePassword</a>)
    Función para generar una contraseña aleatoria
</p>

<div class="row-wrap start-center" [formGroup]="passwordForm">

    <ser-form-element>
        <label>Tamaño</label>
        <input serControl formControlName="length">
    </ser-form-element>

    <div>
        <div class="checkbox">
            <label>
                <input serControl type="checkbox" formControlName="numbers">
                Números
            </label>
        </div>

        <div class="checkbox">
            <label>
                <input serControl type="checkbox" formControlName="lettersLowerCase">
                Letras minúsculas
            </label>
        </div>
    </div>

    <div>
        <div class="checkbox">
            <label>
                <input serControl type="checkbox" formControlName="lettersUpperCase">
                Letras mayúsculas
            </label>
        </div>

        <div class="checkbox">
            <label>
                <input serControl type="checkbox" formControlName="specialChars">
                Caracteres especiales
            </label>
        </div>
    </div>

    <button type="button" class="bttn green" (click)="getPassword()">Generar</button>
    <div class="new-password">
        {{ newPassword }}
    </div>
</div>

<pre><code [highlight]="examples.GeneratePasswordExample"></code></pre>
