


.long-click {
    text-transform: uppercase;
    text-align: center;
    background-color: red;
    padding: 32px;
    border-radius: 12px;
    color: white;
    cursor: pointer;
}

.new-password:not(:empty) {
    font-size: 20px;
    font-weight: bold;
    padding: 16px;
    margin: 0 32px;
    border-radius: 8px;
    background-color: var(--bg-2dp);
}

.checkbox {
    display: flex;
    align-items: center;
    margin: 16px;
}
