<!-- <ng-container [formGroup]="modelForm">

    <ser-select class="not-styled address1" formControlName="address1" [data]="optionsAddress" [settings]="address1Settings"></ser-select>

    <input class="not-styled address2" placeholder="18A" formControlName="address2" />

    <span class="separator s1">#</span>

    <input class="not-styled address3" placeholder="1 Este" formControlName="address3" />

    <span class="separator s2">-</span>

    <input class="not-styled address4" placeholder="35" formControlName="address4" />

</ng-container> -->
