/* You can add global styles to this file, and also import other style files */
@use "../../src/styles/autocomplete.scss";
@use "../../src/styles/badge.scss";
@use "../../src/styles/button.scss";
@use "../../src/styles/chip.scss";
@use "../../src/styles/dialog.scss";
@use "../../src/styles/dropzone.scss";
@use "../../src/styles/address.scss";
@use "../../src/styles/date.scss";
@use "../../src/styles/form.scss";
@use "../../src/styles/image.scss";
@use "../../src/styles/layout.scss";
@use "../../src/styles/loader.scss";
@use "../../src/styles/pin.scss";
@use "../../src/styles/preview-file.scss";
@use "../../src/styles/print.scss";
@use "../../src/styles/select.scss";
@use "../../src/styles/filter.scss";
@use "../../src/styles/slider.scss";
@use "../../src/styles/snackbar.scss";
@use "../../src/styles/step.scss";
@use "../../src/styles/svg.scss";
@use "../../src/styles/switch.scss";
@use "../../src/styles/table.scss";
@use "../../src/styles/tooltip.scss";
@use "../../src/styles/treeview.scss";
@use "../../src/styles/typography.scss";
@use "../../src/styles/week.scss";
@use "../../src/styles/default-theme.scss";
// @use "../../src/styles/modern-theme.scss";

@use "./styles/main.scss";

:root {
    --font-family-primary: "Segoe UI", sans-serif;
    --scrollbar-thumb-color-bg: #555555;
    --code-example-bg: #0d1117;
}

body {
    background-color: var(--bg-1dp);
}

.hljs {
    border-radius: 6px;
}

.scheme-dark {
    a {
        color: white;
    }
}
