/* You can add global styles to this file, and also import other style files */
@import '../../src/styles/autocomplete.scss';
@import '../../src/styles/badge.scss';
@import '../../src/styles/breadcrumb.scss';
@import '../../src/styles/button.scss';
@import '../../src/styles/chip.scss';
@import '../../src/styles/daterangepicker.scss';
@import '../../src/styles/dialog.scss';
@import '../../src/styles/dropzone.scss';
@import '../../src/styles/address.scss';
@import '../../src/styles/form.scss';
@import '../../src/styles/image.scss';
@import '../../src/styles/layout.scss';
@import '../../src/styles/loader.scss';
@import '../../src/styles/pin.scss';
@import '../../src/styles/preview-file.scss';
@import '../../src/styles/print.scss';
@import '../../src/styles/select.scss';
@import '../../src/styles/filter.scss';
@import '../../src/styles/slider.scss';
@import '../../src/styles/snackbar.scss';
@import '../../src/styles/step.scss';
@import '../../src/styles/svg.scss';
@import '../../src/styles/switch.scss';
@import '../../src/styles/table.scss';
@import '../../src/styles/tooltip.scss';
@import '../../src/styles/treeview.scss';
@import '../../src/styles/typography.scss';
@import '../../src/styles/week.scss';
@import '../../src/styles/default-theme.scss';

@import '~highlight.js/styles/gruvbox-dark.css';


@import './styles/main.scss';

/* @font-face {
  font-family: Segoe UI;
  src: local('Segoe UI'), url('assets/segoeui.woff') format('woff');
  font-weight: 400;
  font-style: normal;
} */

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: var(--bg-1dp);
}

.hljs {
  border-radius: 6px;
}

.scheme-dark {

  a{
    color: white;
  }
}
