<form class="form-example" [formGroup]="modelForm">

    <h1>Formularios</h1>

    <div class="example-snippet">
        <div class="preview">

            <div class="body">
                <div class="desc">Entrada de texto básico (Texto, Números, Area de texto etc)</div>
                <button class="bttn center-margin" type="button" (click)="toogleFormControlDisabled('text1')">Habilitar / Deshabilitar</button>

                <ser-form-element style="width: 300px;">
                    <div class="input-group">
                        <span class="addon"><span class="material-icons">account_circle</span></span>
                        <input type="text" serControl formControlName="username" name="username">
                        <span class="addon"><span class="material-icons">account_circle</span></span>
                    </div>

                    <div serErrors="username">
                        <div serError="required">Requerido</div>
                    </div>
                </ser-form-element>

                <button class="bttn center-margin" type="button" (click)="toogleFormControlDisabled('file')">Habilitar / Deshabilitar</button>

                <button type="button" (click)="test()">Test</button>

                <ng-container *ngIf="testL">
                    <ser-form-element style="width: 300px;">
                        <label>Archivo</label>
                        <ser-input-file serControl formControlName="file" (onClearInstance)="clearFile('file_id')"></ser-input-file>

                        <div serErrors="file">
                            <div serError="required">Requerido</div>
                        </div>
                    </ser-form-element>
                </ng-container>

            </div>
        </div>

        <div class="code">

            <h3>Código</h3>

            <div class="body">
                <pre><code [highlight]="examples.InputTextExample"></code></pre>
                <button class="bttn icon" type="button" [copyToClipboard]="examples.InputTextExample" (copied)="alert('Copiado al portapapeles')">
                    <span class="material-icons">content_copy</span>
                </button>
            </div>
        </div>

    </div>

    <div class="example-snippet">
        <div class="preview">

            <div class="body">
                <div class="desc">Directiva que filtra todo carácter que no coincida con una expresión regular</div>

                <ser-form-element>
                    <label>Expresión regular</label>
                    <input type="text" serControl formControlName="regexInput">

                    <div serErrors="regexInput">
                        <div serError="required">Requerido</div>
                    </div>
                </ser-form-element>

                <button class="bttn center-margin" type="button" (click)="toogleFormControlDisabled('text3')">Habilitar / Deshabilitar</button>

                <ser-form-element style="width: 300px;">
                    <label>Texto</label>
                    <input type="text" serControl formControlName="text3" [inputRegex]="modelForm.value.regexInput">

                    <div serErrors="text3">
                        <div serError="required">Requerido</div>
                    </div>
                </ser-form-element>
            </div>
        </div>

        <div class="code">

            <h3>Código</h3>

            <div class="body">
                <pre><code [highlight]="examples.InputRegexExample"></code></pre>
                <button class="bttn icon" type="button" [copyToClipboard]="examples.InputRegexExample" (copied)="alert('Copiado al portapapeles')">
                    <span class="material-icons">content_copy</span>
                </button>
            </div>
        </div>

    </div>

    <div class="example-snippet">
        <div class="preview">

            <div class="body">
                <div class="desc">Entrada de texto para validar formato e integridad de NIT Colombiano</div>
                <button class="bttn center-margin" type="button" (click)="toogleFormControlDisabled('nit')">Habilitar / Deshabilitar</button>

                <ser-form-element style="width: 300px;">
                    <label>NIT</label>
                    <input type="text" serControl formControlName="nit" placeholder="XXXXXXXXX-X">

                    <div serErrors="nit">
                        <div serError="required">Requerido</div>
                        <div serError="verifyNIT">Formato: xxxxxxxxx-x</div>
                        <div serError="verifyNITIntegrity">NIT inválido</div>
                    </div>
                </ser-form-element>
            </div>
        </div>

        <div class="code">

            <h3>Código</h3>

            <div class="body">
                <div>
                    <pre><code [highlight]="examples.NITTSExample"></code></pre>
                    <pre><code [highlight]="examples.NITExample"></code></pre>
                </div>
                <button class="bttn icon" type="button" [copyToClipboard]="examples.NITExample" (copied)="alert('Copiado al portapapeles')">
                    <span class="material-icons">content_copy</span>
                </button>
            </div>
        </div>

    </div>

    <div class="example-snippet">
        <div class="preview">

            <div class="body">
                <div class="desc">Directiva para que un area de texto aumente o disminuya su altura según el contenido</div>
                <button class="bttn center-margin" type="button" (click)="toogleFormControlDisabled('text2')">Habilitar / Deshabilitar</button>

                <ser-form-element style="width: 300px;">
                    <label>Area de texto</label>
                    <textarea serControl growOnInput formControlName="text2"></textarea>

                    <div serErrors="text2">
                        <div serError="required">Requerido</div>
                    </div>
                </ser-form-element>
            </div>
        </div>

        <div class="code">

            <h3>Código</h3>

            <div class="body">
                <pre><code [highlight]="examples.TextAreaExample"></code></pre>
                <button class="bttn icon" type="button" [copyToClipboard]="examples.TextAreaExample" (copied)="alert('Copiado al portapapeles')">
                    <span class="material-icons">content_copy</span>
                </button>
            </div>
        </div>

    </div>

    <div class="example-snippet">
        <div class="preview">

            <div class="body">
                <div class="desc">Directiva para ingresar una dirección guiada en formato colombiano</div>
                <button class="bttn center-margin" type="button" (click)="toogleFormControlDisabled('address')">Habilitar / Deshabilitar</button>

                <ser-form-element style="min-width: 300px;">
                    <label>Dirección</label>
                    <address-col-input serControl formControlName="address"></address-col-input>

                    <div serErrors="address">
                        <div serError="required">Requerido</div>
                    </div>
                </ser-form-element>
            </div>
        </div>

        <div class="code">

            <h3>Código</h3>

            <div class="body">
                <pre><code [highlight]="examples.InputAddressExample"></code></pre>
                <button class="bttn icon" type="button" [copyToClipboard]="examples.InputAddressExample" (copied)="alert('Copiado al portapapeles')">
                    <span class="material-icons">content_copy</span>
                </button>
            </div>
        </div>

    </div>

    <div class="example-snippet">
        <div class="preview">

            <div class="body">
                <div class="desc">Directiva para ingresar un PIN alfanumérico de longitud variable</div>

                <ng-container formGroupName="pinForm">
                    <div class="row start-center">

                        <ser-form-element>
                            <label>Tamaño</label>
                            <input serControl type="number" formControlName="codeLength">
                        </ser-form-element>

                        <div class="checkbox">
                            <label>
                                <input serControl type="checkbox" formControlName="onlyNumber">
                                Solo números
                            </label>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input serControl type="checkbox" formControlName="isCodeHidden">
                                Ocultar escritura
                            </label>
                        </div>

                    </div>
                </ng-container>

                <button class="bttn center-margin" type="button" (click)="toogleFormControlDisabled('pin')">Habilitar / Deshabilitar</button>

                <ng-container *ngIf="pinShow">
                    <ser-form-element>
                        <pin-input serControl formControlName="pin" [codeLength]="modelForm.value.pinForm.codeLength" [onlyNumber]="modelForm.value.pinForm.onlyNumber" [isCodeHidden]="modelForm.value.pinForm.isCodeHidden"></pin-input>

                        <div serErrors="pin">
                            <div serError="required">Requerido</div>
                        </div>
                    </ser-form-element>
                </ng-container>
            </div>
        </div>

        <div class="code">

            <h3>Código</h3>

            <div class="body">
                <pre><code [highlight]="examples.PINExample"></code></pre>
                <button class="bttn icon" type="button" [copyToClipboard]="examples.PINExample" (copied)="alert('Copiado al portapapeles')">
                    <span class="material-icons">content_copy</span>
                </button>
            </div>
        </div>

    </div>

</form>
