<form class="form-example" [formGroup]="modelForm">

    <h1>Formularios básicos</h1>

    <div class="example-snippet">
        <div class="preview">

            <h3>Previsualización</h3>

            <div class="body">
                <div>
                    <button class="bttn center-margin" type="button" (click)="toogleFormControlDisabled('text1')">Habilitar / Deshabilitar</button>

                    <ser-form-element style="width: 300px;">
                        <label>Texto</label>
                        <input type="text" serControl formControlName="text1">

                        <div serErrors="text1">
                            <div serError="required">Requerido</div>
                            <div serError="verifyNIT">Formato: xxxxxxxxx-x</div>
                            <div serError="verifyNITIntegrity">NIT inválido</div>
                        </div>
                    </ser-form-element>
                </div>
            </div>
        </div>

        <div class="code">

            <h3>Código</h3>

            <div class="body">
                <pre><code [highlight]="examples.InputTextExample"></code></pre>
                <button class="bttn icon" type="button" [copyToClipboard]="examples.InputTextExample" (copied)="alert('Copiado al portapapeles')">
                    <span class="material-icons">content_copy</span>
                </button>
            </div>
        </div>

    </div>

    <div class="example-snippet">
        <div class="preview">

            <h3>Previsualización</h3>

            <div class="body">
                <div>
                    <button class="bttn center-margin" type="button" (click)="toogleFormControlDisabled('text3')">Habilitar / Deshabilitar</button>

                    <ser-form-element style="width: 300px;">
                        <label>Texto filtrado</label>
                        <input type="text" serControl formControlName="text3" [inputRegex]="text3Regex">

                        <div serErrors="text3">
                            <div serError="required">Requerido</div>
                        </div>
                    </ser-form-element>
                </div>
            </div>
        </div>

        <div class="code">

            <h3>Código</h3>

            <div class="body">
                <pre><code [highlight]="examples.InputTextExample"></code></pre>
                <button class="bttn icon" type="button" [copyToClipboard]="examples.InputTextExample" (copied)="alert('Copiado al portapapeles')">
                    <span class="material-icons">content_copy</span>
                </button>
            </div>
        </div>

    </div>

    <div class="example-snippet">
        <div class="preview">

            <h3>Previsualización</h3>

            <div class="body">
                <div>
                    <button class="bttn center-margin" type="button" (click)="toogleFormControlDisabled('text2')">Habilitar / Deshabilitar</button>

                    <ser-form-element style="width: 300px;">
                        <label>Area de texto</label>
                        <textarea serControl growOnInput formControlName="text2"></textarea>

                        <div serErrors="text2">
                            <div serError="required">Requerido</div>
                        </div>
                    </ser-form-element>
                </div>
            </div>
        </div>

        <div class="code">

            <h3>Código</h3>

            <div class="body">
                <pre><code [highlight]="examples.InputTextExample"></code></pre>
                <button class="bttn icon" type="button" [copyToClipboard]="examples.InputTextExample" (copied)="alert('Copiado al portapapeles')">
                    <span class="material-icons">content_copy</span>
                </button>
            </div>
        </div>

    </div>

    <div class="example-snippet">
        <div class="preview">

            <h3>Previsualización</h3>

            <div class="body">
                <div>
                    <button class="bttn center-margin" type="button" (click)="reset()">Reset</button>
                    <button class="bttn center-margin" type="button" (click)="toogleFormControlDisabled('address')">Habilitar / Deshabilitar</button>

                    <ser-form-element style="min-width: 300px;">
                        <label>Dirección</label>
                        <address-col-input serControl formControlName="address"></address-col-input>

                        <div serErrors="address">
                            <div serError="required">Requerido</div>
                        </div>
                    </ser-form-element>
                </div>
            </div>
        </div>

        <div class="code">

            <h3>Código</h3>

            <div class="body">
                <pre><code [highlight]="examples.InputAddressExample"></code></pre>
                <button class="bttn icon" type="button" [copyToClipboard]="examples.InputAddressExample" (copied)="alert('Copiado al portapapeles')">
                    <span class="material-icons">content_copy</span>
                </button>
            </div>
        </div>

    </div>

</form>
