@import 'mixins.scss';

.dialog-message {
    @include row;
    max-width: 500px;

    .image {
        width: 100px;
        min-width: 100px;
        @include row;
        @include center-center;

        img {
            max-width: 100%;
        }
    }

    .text {
        margin-left: 24px;
        text-align: right;
        font-size: rem(16);

        .form-errors {
            margin: 0;
            padding: 0;

            li {
                margin: 0;
                padding: 0;
                list-style: none;
            }
        }
    }
}

md-dialog {

    .md-actions, md-dialog-actions {
        background-color: white;
        border-radius: 4px;
        padding: 12px 8px;
    }
}

.scheme-dark {
    md-dialog {
        background-color: var(--dark-grey-0dp);
        color: rgba(white, 0.87);

        .md-actions, md-dialog-actions {
            background-color: var(--dark-grey-0dp);
        }
    }
}
