<h2>
    <a class="bttn icon " href="#cookies">
        <span class="material-symbols-rounded">link</span>
    </a>
    Clic ó Toque prolongado
</h2>

<p class="description">
    (<a href="https://sersoluciones.github.io/ngx-doc/directives/LongPressDirective.html" target="_blank" rel="noopener noreferrer">longPress</a>)
    Directiva para detectar click cortos ó prolongados para eventos de mouse o pantallas táctiles
</p>

<div class="long-click" longPress (onLongPress)="longClick()" (onShortPress)="singleClick()">
    {{ messageTypeClick }}
</div>

<pre><code [highlight]="examples.LongClickExample"></code></pre>
