<form class="form-example" [formGroup]="modelForm">

    <a class="example-name" href="#bttn-bordered">
        <span class="material-icons">link</span>
        <h1 id="bttn-icon">Por defecto</h1>
    </a>

    <div class="example-snippet">

        <div class="code">

            <div class="body">
                <pre><code [highlight]="examples.DateExample"></code></pre>
                <button class="bttn icon copy" type="button" [copyToClipboard]="examples.DateExample" (copied)="alert('Copiado al portapapeles')">
                    <span class="material-icons">content_copy</span>
                </button>
            </div>
        </div>

        <div class="preview">

            <div class="body">

                <button class="bttn center-margin" type="button" (click)="toogleFormControlDisabled('date1')">Habilitar / Deshabilitar</button>

                <ser-form-element style="width: 300px;">
                    <label>Por defecto</label>
                    <ser-date serControl formControlName="date1"></ser-date>

                    <div serErrors="date1">
                        <div serError="required">Requerido</div>
                    </div>
                </ser-form-element>

            </div>
        </div>

    </div>

    <a class="example-name" href="#bttn-bordered">
        <span class="material-icons">link</span>
        <h1 id="bttn-icon">Fecha hora</h1>
    </a>

    <div class="example-snippet">

        <div class="code">

            <div class="body">
                <pre><code [highlight]="examples.DateTimeExample"></code></pre>
                <button class="bttn icon copy" type="button" [copyToClipboard]="examples.DateTimeExample" (copied)="alert('Copiado al portapapeles')">
                    <span class="material-icons">content_copy</span>
                </button>
            </div>
        </div>

        <div class="preview">

            <div class="body">

                <button class="bttn center-margin" type="button" (click)="toogleFormControlDisabled('date2')">Habilitar / Deshabilitar</button>

                <ser-form-element style="width: 300px;">
                    <label>Fecha hora</label>
                    <ser-date serControl formControlName="date2" time></ser-date>

                    <div serErrors="date2">
                        <div serError="required">Requerido</div>
                    </div>
                </ser-form-element>

            </div>
        </div>

    </div>

</form>
