address-col-input {
    display: flex;
    align-items: center;
    cursor: text;

    &.disabled {
        cursor: not-allowed;
    }

    .via {
        position: relative;

        input {

            &.via-input {
                min-width: 48px;
                position: relative;
                z-index: 1;
            }

            &.hint {
                left: 0;
                position: absolute;
                visibility: hidden;
                pointer-events: none;
            }
        }
    }

    .via-options {
        position: fixed;
        z-index: 3;
        width: 140px;
        max-height: 200px;
        overflow: auto;
        margin: 0px;
        transform-origin: 0 0;
        animation: dropdown-appear 150ms ease-in-out;

        .via-item {

            &:hover {
                cursor: pointer;
            }
        }
    }

    input {
        border: none;
        outline: none;
        border-radius: 0;
        background-color: transparent;

        &.address1 {
            min-width: 34px;
        }

        &.address2,
        &.address3 {
            min-width: 24px;
        }

    }

    .s1,
    .s2 {
        font-family: monospace;
        font-size: 20px;
        font-weight: bold;
        visibility: hidden;
    }

    .s1 {
        margin: 0 8px 0 16px;
    }

    .s2 {
        font-size: 30px;
        margin: 0 8px;
        padding-bottom: 10px;
    }

}

.bpt-mobile,
.bpt-tablet {
    address-col-input {

        .via-options {

            @media (max-width: 600px) {
                position: absolute;
            }
        }

    }
}
