@import 'mixins.scss';

.bdg {
    position: absolute;
    top: -8px;
    right: -8px;
    line-height: 12px;
    background: white;
    padding: 4px;
    border-radius: 50%;
    min-width: 14px;
    min-height: 14px;
    text-align: center;
    font-size: 14px;

    &.light-blue {
        background: var(--light-blue-background);
    }
    
    &.blue {
        background: var(--blue-background);
    }
    
    &.green {
        background: var(--green-background);
    }
    
    &.yellow {
        background: var(--yellow-background);
    }
    
    &.orange {
        background: var(--orange-border);
        color: white;
    }
    
    &.red {
        background: red;
        color: white;
    }
}
