@import 'mixins.scss';

.bdg {
    position: absolute;
    top: -8px;
    right: -8px;
    line-height: 12px;
    background: white;
    padding: 4px;
    border-radius: 50%;
    min-width: 14px;
    min-height: 14px;
    text-align: center;
    font-size: 14px;

    &.light-blue {
        background: var(--light-blue-bg);
    }

    &.blue {
        background: var(--button-blue-bg);
    }

    &.green {
        background: var(--button-green-bg);
    }

    &.yellow {
        background: var(--button-yellow-bg);
    }

    &.orange {
        background: var(--button-orange-border);
        color: white;
    }

    &.red {
        background: red;
        color: white;
    }
}
