@import 'mixins.scss';

.fc button,
.bttn {
    height: 38px;
    padding: 0 20px;
    color: #555;
    font-family: 'Segoe UI', sans-serif;
    background-image: none;
    font-size: rem(10);
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 6px;
    margin: 0 4px;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    outline: none;
    user-select: none;
    @include row();
    @include center-center();
}

.bttn i{
    line-height: 0;
}

.bttn.icon{
    border-radius: 50%;
    padding: 5px;
    height: 35px;
    width: 35px;
}

.bttn[disabled],
.fc button.fc-state-disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.bttn:active,
.bttn.pressed,
.fc-state-down,
.fc-state-active {
    -webkit-box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.3);
    text-shadow: none;
}

.bttn.white{
    background-color: white;
}

.bttn.blue{
    color: var(--blue-font);
    background-color: var(--blue-background);
}

.bttn.blue i{
    color: var(--blue-font);
}

.bttn.light-blue{
    color: var(--light-blue-font);
    background-color: var(--light-blue-background);
}

.bttn.light-blue i{
    color: var(--light-blue-font);
}

.bttn.red{
    color: var(--red-font);
    background-color: var(--red-background);
}

.bttn.red i{
    color: var(--red-font);
}

.bttn.yellow{
    color: var(--yellow-font);
    background-color: var(--yellow-background);
}

.bttn.yellow i{
    color: var(--yellow-font);
}

.bttn.orange{
    color: var(--orange-font);
    background-color: var(--orange-background);
}

.bttn.orange i{
    color: var(--orange-font);
}

.bttn.green{
    color: var(--green-font);
    background-color: var(--green-background);
}

.bttn.green i{
    color: var(--green-font);
}

.bttn-group,
.fc-button-group {
    @include row;
}

.bttn-group .bttn:first-child,
.fc-button-group button:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: 0;
    border-right-width: 0;
}

.bttn-group .bttn:last-child,
.fc-button-group button:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: 0;
}

.bttn-group .bttn:not(:first-child):not(:last-child),
.fc-button-group button:not(:first-child):not(:last-child) {
    border-radius: 0;
    margin: 0;
    border-right-width: 0;
}

.bttn-group .bttn.active,
.fc-button-group button.active {
    -webkit-box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.3);
}

.scheme-dark {
    .fc button,
    .bttn:not(.light-blue):not(.blue):not(.red):not(.orange):not(.yellow):not(.green){
        color: white;
    }
}
