@import "mixins.scss";

.fc button,
.bttn {
    padding: 11px 20px;
    color: var(--font-color-2);
    font-family: var(--font-family-primary);
    background-image: none;
    font-size: rem(10);
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    // white-space: nowrap;
    background-color: transparent;
    border-radius: 150px;
    margin: 0 4px;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    outline: none;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;

    &.icon {
        border-radius: 50%;
        padding: 5px;
        height: 35px;
        width: 35px;
    }

    &:not(.text-collapse) {

        > i:first-child,
        > .mat-icon:first-child {
            margin-right: 8px;
        }

        > i:last-child,
        > .mat-icon:last-child {
            margin-left: 8px;
        }
    }

    &:active,
    &.pressed {
        -webkit-box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.3);
        -moz-box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.3);
        box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.3);
        text-shadow: none;
    }

    &:not(.bordered) {

        &.primary {
            color: var(--primary-color-font);
            background-color: var(--primary-color);
        }

        &.white {
            background-color: white;
        }

        &.blue {
            color: var(--button-blue-font);
            background-color: var(--button-blue-bg);

            i,
            .mat-icon {
                color: var(--button-blue-font);
            }
        }

        &.light-blue {
            color: var(--light-blue-font);
            background-color: var(--light-blue-bg);

            i,
            .mat-icon {
                color: var(--light-blue-font);
            }
        }

        &.red {
            color: var(--button-red-font);
            background-color: var(--button-red-bg);

            i,
            .mat-icon {
                color: var(--button-red-font);
            }
        }

        &.yellow {
            color: var(--button-yellow-font);
            background-color: var(--button-yellow-bg);

            i,
            .mat-icon {
                color: var(--button-yellow-font);
            }
        }

        &.orange {
            color: var(--button-orange-font);
            background-color: var(--button-orange-bg);

            i,
            .mat-icon {
                color: var(--button-orange-font);
            }
        }

        &.orangered {
            color: var(--button-orangered-font);
            background-color: var(--button-orangered-bg);

            i,
            .mat-icon {
                color: var(--button-orangered-font);
            }
        }

        &.green {
            color: var(--button-green-font);
            background-color: var(--button-green-bg);

            i,
            .mat-icon {
                color: var(--button-green-font);
            }
        }

        &.violet {
            color: var(--button-violet-font);
            background-color: var(--button-violet-bg);

            i,
            .mat-icon {
                color: var(--button-violet-font);
            }
        }

    }

    &.bordered {
        border: var(--button-border-width) solid;

        &.primary {
            border-color: var(--primary-color);
        }

        &.white {
            border-color: white;
        }

        &.blue {
            border-color: var(--button-blue-bg);

            i,
            .mat-icon {
                color: var(--button-blue-bg);
            }
        }

        &.light-blue {
            border-color: var(--light-blue-bg);

            i,
            .mat-icon {
                color: var(--light-blue-bg);
            }
        }

        &.red {
            border-color: var(--button-red-bg);

            i,
            .mat-icon {
                color: var(--button-red-bg);
            }
        }

        &.yellow {
            color: var(--button-yellow-font);
            border-color: var(--button-yellow-bg);

            i,
            .mat-icon {
                color: var(--button-yellow-font);
            }
        }

        &.orange {
            border-color: var(--button-orange-bg);

            i,
            .mat-icon {
                color: var(--button-orange-bg);
            }
        }

        &.orangered {
            border-color: var(--button-orangered-bg);

            i,
            .mat-icon {
                color: var(--button-orangered-bg);
            }
        }

        &.green {
            border-color: var(--button-green-bg);

            i,
            .mat-icon {
                color: var(--button-green-bg);
            }
        }

        &.violet {
            border-color: var(--button-violet-bg);

            i,
            .mat-icon {
                color: var(--button-violet-bg);
            }
        }

    }

    &.text-collapse {
        border-radius: 50%;
        padding: 5px;
        height: 35px;
        width: 35px;
        position: relative;

        .text {
            position: absolute;
            max-width: 0;
            overflow: hidden;
            background-color: inherit;
            height: 35px;
            border-radius: 35px 0 0 35px;
            transition: max-width 100ms;

            &:nth-child(1) {
                right: 35px;
            }

            &:nth-child(2) {
                left: 35px;
            }
        }

        &:hover,
        &.active {
            border-radius: 0 35px 35px 0;

            .text {
                max-width: 1000px;
                padding: 11px 8px 11px 16px;
                transition: max-width 1s;

                &:nth-child(1) {
                    border-radius: 35px 0 0 35px;
                }

                &:nth-child(2) {
                    border-radius: 0 35px 35px 0;
                }
            }
        }
    }
}

.bttn i {
    line-height: 0;
}

.bttn[disabled],
.fc button.fc-state-disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.fc-state-down,
.fc-state-active {
    -webkit-box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.3);
    text-shadow: none;
}

.bttn-group,
.fc-button-group {
    display: inline-flex;
    align-items: center;
    background-color: var(--bttn-group-bg);
    border-radius: 24px;

    .bttn {
        margin: 0;

        &:hover {
            z-index: 1;
        }
    }
}
