@use 'mixins.scss' as mixins;

.chip {
    display: inline-flex;
    padding: 4px 12px;
    color: var(--chip-font-color);
    background: var(--chip-bg);
    margin-left: 8px;
    border-radius: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;

    &.blue {
        background: var(--button-blue-bg);
    }

    &.light-blue {
        background: var(--light-blue-bg);
    }

    &.green {
        background: var(--button-green-bg);
    }

    &.yellow {
        background: var(--button-yellow-bg);
    }

    &.orange {
        background: var(--button-orange-bg);
    }

    &.red {
        background: var(--button-red-border);
    }
}

ser-chips {
    @include mixins.row-wrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;

    input.chip-input {
        border: none;
        background: transparent;
        outline: 0;
        -webkit-appearance: none;
    }

    .chip {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: #185698;
        background-color: #84d0fd;
        border-color: #3694f7;
        font-weight: 300;
        -webkit-border-radius: 3px;
        border-radius: 10px;
        color: white;
        border: none;
        padding: 1px 6px;
        margin: 4px 4px 0 0;

        .remove {
            background: white;
            border-radius: 12px;
            font-size: 13px;
            height: 13px;
            width: 13px;
            min-width: 13px;
            min-height: 13px;
            margin-left: 6px;
        }
    }
}

ser-chips.ng-focused {
    border-color: #66dee9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 222, 233, 0.6);
}
