:root {
  --primary-color: #653182;

  --blue-accent: #0676ec;
  --blue-primary: #3ec1eb;
  --blue-font: #185698;
  --blue-background: #84d0fd;
  --blue-border: #3694f7;

  --light-blue-font: #188b98;
  --light-blue-background: #c9f5ff;
  --light-blue-border: #4ecaca;

  --red-font: #a92222;
  --red-background: #ffa5a5;
  --red-border: #fd4e4e;

  --yellow-font: #8a8100;
  --yellow-background: #fff242;
  --yellow-border: #d0c200;

  --orange-font: #c35300;
  --orange-background: #fbbc48;
  --orange-border: #ff6d00;

  --green-font: #21771b;
  --green-background: #87ec6d;
  --green-border: #57af51;

  --grey-border: #f3f3f3;
  --grey-hover: #efefef;

  --light-grey-0dp: #eff1f4;
  --light-grey-1dp: white;
  --light-grey-2dp: #f4f4f4;
  --light-grey-3dp: #dfdfdf;

  --dark-grey-0dp: #1e1e1e;
  --dark-grey-1dp: #272727;
  --dark-grey-2dp: #3e3e3e;
  --dark-grey-3dp: #363636;
  --dark-grey-4dp: #272727;
  --dark-grey-6dp: #2c2c2c;
  --dark-grey-border: #4e4e4e;
  --dark-error-color: #cf6679;
}
