.show-week-numbers {
    --datepicker-month-width: calc(var(--datepicker-day-width) * 8);
}

.datepicker {
    font-size: 0.8em;
    display: none;
    border-radius: 8px;
    background-color: var(--datepicker-container-months-color-bg);
    box-shadow: 0 0 5px var(--datepicker-container-months-box-shadow-color);

    button {
        border: none;
        background: none;
        cursor: pointer;
        border-radius: 12px;
        padding: 4px 12px;
        outline: none;
        font-family: var(--font-family-primary, Arial);
    }

    .container {

        &__main {
            display: flex;
        }

        &__months {
            display: flex;
            flex-wrap: wrap;
            width: calc(var(--datepicker-month-width) + 10px); // 10px is padding (left 5px, right: 5px)
            box-sizing: content-box;

            &.columns-2 {
                width: calc((var(--datepicker-month-width) * 2) + 20px);
            }

            &.columns-3 {
                width: calc((var(--datepicker-month-width) * 3) + 30px);
            }

            &.columns-4 {
                width: calc((var(--datepicker-month-width) * 4) + 40px);
            }

            &.split-view {
                .month-item {
                    &-header {
                        .button-previous-month,
                        .button-next-month {
                            visibility: visible;
                        }
                    }
                }
            }

            .month-item {
                padding: 5px;
                width: var(--datepicker-month-width);
                box-sizing: content-box;

                &-header {
                    display: flex;
                    justify-content: space-between;
                    font-weight: 500;
                    padding: 10px 5px;
                    text-align: center;
                    align-items: center;
                    color: var(--datepicker-month-header-color);

                    div {
                        flex: 1;

                        > .month-item-name {
                            margin-right: 5px;
                            text-transform: capitalize;
                        }

                        > .month-item-year {
                            padding: 0;
                        }

                        > select {

                            &.month-item-name,
                            &.month-item-year {
                                cursor: pointer;
                            }
                        }
                    }

                    .reset-button {
                        color: var(--datepicker-button-reset-color);

                        > svg {
                            fill: var(--datepicker-button-reset-color);
                        }

                        * {
                            pointer-events: none;
                        }

                        &:hover {
                            color: var(--datepicker-button-reset-color-hover);

                            > svg {
                                fill: var(--datepicker-button-reset-color-hover);
                            }
                        }
                    }

                    .button-previous-month,
                    .button-next-month {
                        visibility: hidden;
                        text-decoration: none;
                        padding: 3px 5px;
                        border-radius: 3px;
                        transition: color 0.3s, border 0.3s;

                        * {
                            pointer-events: none;
                        }
                    }
                    .button-previous-month {
                        color: var(--datepicker-button-prev-month-color);

                        > svg,
                        > img {
                            fill: var(--datepicker-button-prev-month-color);
                        }

                        &:hover {
                            color: var(--datepicker-button-prev-month-color-hover);

                            > svg {
                                fill: var(--datepicker-button-prev-month-color-hover);
                            }
                        }
                    }
                    .button-next-month {
                        color: var(--datepicker-button-next-month-color);

                        > svg,
                        > img {
                            fill: var(--datepicker-button-next-month-color);
                        }

                        &:hover {
                            color: var(--datepicker-button-next-month-color-hover);

                            > svg {
                                fill: var(--datepicker-button-next-month-color-hover);
                            }
                        }
                    }
                }

                &-weekdays-row {
                    display: flex;
                    justify-self: center;
                    justify-content: flex-start;
                    color: var(--datepicker-month-weekday-color);

                    > div {
                        padding: 5px 0;
                        font-size: 85%;
                        flex: 1;
                        width: var(--datepicker-day-width);
                        text-align: center;
                    }
                }

                &:first-child {
                    .button-previous-month {
                        visibility: visible;
                    }
                }

                &:last-child {
                    .button-next-month {
                        visibility: visible;
                    }
                }

                &.no-previous-month {
                    .button-previous-month {
                        visibility: hidden;
                    }
                }

                &.no-next-month {
                    .button-next-month {
                        visibility: hidden;
                    }
                }
            }
        }

        &__days {
            display: flex;
            flex-wrap: wrap;
            justify-self: center;
            justify-content: flex-start;
            text-align: center;
            box-sizing: content-box;

            > div,
            > a {
                padding: 5px 0;
                width: var(--datepicker-day-width);
            }

            .day-item {
                color: var(--datepicker-day-color);
                text-align: center;
                text-decoration: none;
                border-radius: 3px;
                transition: color 0.3s, border 0.3s;
                cursor: pointer;

                &:hover {
                    color: var(--datepicker-day-color-hover);
                    box-shadow: inset 0 0 0 1px var(--datepicker-day-color-hover);
                }

                &.is-today {
                    color: var(--datepicker-is-today-color);
                }

                &.is-locked {
                    color: var(--datepicker-is-locked-color);
                    cursor: not-allowed;

                    &:hover {
                        color: var(--datepicker-is-locked-color);
                        box-shadow: none;
                        cursor: default;
                    }
                }

                &.is-in-range {
                    background-color: var(--datepicker-is-in-range-color);
                    border-radius: 0;
                }

                &.is-start-date {
                    color: var(--datepicker-is-start-color);
                    background-color: var(--datepicker-is-start-color-bg);
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;

                    &.is-flipped {
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                        border-top-right-radius: 5px;
                        border-bottom-right-radius: 5px;
                    }
                }

                &.is-end-date {
                    color: var(--datepicker-is-end-color);
                    background-color: var(--datepicker-is-end-color-bg);
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;

                    &.is-flipped {
                        border-top-left-radius: 5px;
                        border-bottom-left-radius: 5px;
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                    }
                }

                &.is-start-date.is-end-date {
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                }

                &.is-highlighted {
                    color: var(--datepicker-highlighted-day-color);
                    background-color: var(--datepicker-highlighted-day-color-bg);
                }
            }

            .week-number {
                display: flex;
                align-items: center;
                justify-content: center;
                color: var(--datepicker-month-week-number-color);
                font-size: 85%;
            }
        }

        &__time {
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            .time-item {
                display: flex;
                align-items: center;
                width: var(--datepicker-month-width);
                padding: 4px 16px;
            }

            .hour-range,
            .minute-range,
            .meridiem-range {
                margin: 0 6px;
            }
        }

        &__footer {
            text-align: right;
            padding: 10px 5px;
            margin: 0 5px;

            .preview-date-range {
                margin-right: 10px;
                font-size: 90%;
            }

            .button-cancel {
                background-color: var(--datepicker-button-cancel-color-bg);
                color: var(--datepicker-button-cancel-color);

                * {
                    pointer-events: none;
                }
            }

            .button-apply {
                background-color: var(--datepicker-button-apply-color-bg);
                color: var(--datepicker-button-apply-color);
                margin-left: 10px;
                margin-right: 10px;

                &:disabled {
                    opacity: 0.7;
                }

                * {
                    pointer-events: none;
                }
            }
        }

        &__tooltip {
            position: absolute;
            margin-top: -4px;
            padding: 4px 8px;
            border-radius: 4px;
            background-color: var(--datepicker-tooltip-color-bg);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
            white-space: nowrap;
            font-size: 11px;
            pointer-events: none;
            visibility: hidden;

            &:before {
                position: absolute;
                bottom: -5px;
                left: calc(50% - 5px);
                border-top: 5px solid rgba(0, 0, 0, 0.12);
                border-right: 5px solid transparent;
                border-left: 5px solid transparent;
                content: "";
            }

            &:after {
                position: absolute;
                bottom: -4px;
                left: calc(50% - 4px);
                border-top: 4px solid var(--datepicker-tooltip-color-bg);
                border-right: 4px solid transparent;
                border-left: 4px solid transparent;
                content: "";
            }
        }
    }
}

ser-date,
ser-date-range {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 20px;
    align-items: center;
    cursor: pointer;

    .range {
        pointer-events: none;
        display: grid;
        align-items: center;
        grid-template-columns: max-content 30px max-content;
    }

    .divider-range {
        text-align: center;
    }

    button[type="button"] {
        padding: 0;
        color: var(--font-color-2);
        font-family: var(--font-family-primary);
        background-image: none;
        text-decoration: none;
        white-space: nowrap;
        background-color: transparent;
        border-radius: 50%;
        margin: 0;
        border: none;
        cursor: pointer;
        box-sizing: border-box;
        outline: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
