@import "mixins.scss";

:root {
    --primary-color: #653182;
    --primary-color-font: white;
    --font-color-1: #040404;
    --font-color-2: #555;
    --font-color-disabled: #a5a5a5;
    --font-color-placeholder: #a5a5a5;

    // --blue-accent: #0676ec;
    // --blue-primary: #3ec1eb;
    --button-border-width: 3px;

    --button-blue-font: white;
    --button-blue-bg: dodgerblue;
    --button-blue-border: var(--button-blue-bg);

    --light-blue-font: #424242;
    --light-blue-bg: skyblue;
    --light-blue-border: var(--light-blue-bg);

    --button-red-font: white;
    --button-red-bg: red;
    --button-red-border: var(--button-red-bg);

    --button-yellow-font: #424242;
    --button-yellow-bg: yellow;
    --button-yellow-border: var(--button-yellow-bg);

    --button-orange-font: white;
    --button-orange-bg: orange;
    --button-orange-border: var(--button-orange-bg);

    --button-orangered-font: white;
    --button-orangered-bg: orangered;
    --button-orangered-border: var(--button-orangered-bg);

    --button-green-font: white;
    --button-green-bg: limegreen;
    --button-green-border: var(--button-green-bg);

    --button-violet-font: white;
    --button-violet-bg: blueviolet;
    --button-violet-border: var(--button-violet-bg);

    --bttn-group-bg: #f1f1f1;

    --grey-border: #f3f3f3;
    --grey-hover: #efefef;

    --card-bg: #e4e3e3;

    --bg-disabled: #f3f3f3;
    --bg-0dp: #eff1f4;
    --bg-1dp: white;
    --bg-2dp: #e4e3e3;
    --bg-3dp: #dfdfdf;

    --chip-font-color: black;
    --chip-bg: #e4e3e3;

    --input-font-size: 12px;
    --input-min-height: 40px;
    --input-max-height: 40px;
    --input-border-radius: 12px;
    --input-border: #c3c3c3;
    --input-bg: white;
    --input-bg-disabled: #f3f3f3;
    --input-font-color-disabled: #141414;
    --input-error-border-color: #fd4e4e;
    --input-error-border: 2px solid var(--input-error-border-color);
    --input-error-shadow-color: #f8dddd;
    --input-focus-color: #3490cc;
    --input-focus-shadow-color: #d1edff;
    --input-icon-color: #7d7d7d;

    --input-file-item-bg: #e6e6e6;
    --input-file-item-delete-bg: #bbbbbb;
    --input-file-item-delete-color: #5a5a5a;

    --dark-grey-4dp: #272727;
    --dark-grey-6dp: #2c2c2c;
    --dark-error-color: #cf6679;

    --select-bg: white;
    --select-border: #c3c3c3;
    --select-base-color: #0079fe;
    --select-check-color: #0079fe;
    --select-token-text-color: white;
    --select-hover-color: #f5f5f5;
    --select-selected-bg-color: #e9f4ff;
    --select-shadow-color: #f5f5f5;
    --select-icon-color: #5a5a5a;

    --filter-bg: white;
    --filter-icon-color: #5a5a5a;
    --filter-border: #c3c3c3;
    --filter-check-color: #0079fe;
    --filter-token-color: #0079fe;

    --address-via-options-bg: white;
    --address-via-options-hover: #f5f5f5;
    --address-color-placeholder: #bcbcbc;
    --address-input-border: #c3c3c3;
    --address-font-family: "Source Code Pro", monospace;

    --pin-font-size: 20px;
    --pin-item-spacing: 4px;
    --pin-item-height: 50px;
    --pin-item-border: 2px solid var(--input-border);
    --pin-item-border-bottom: 2px solid var(--input-border);
    --pin-item-border-has-value: 2px solid var(--input-border);
    --pin-item-border-bottom-has-value: 2px solid var(--input-border);
    --pin-item-border-focused: 2px solid var(--input-border);
    --pin-item-border-bottom-focused: 2px solid var(--input-border);
    --pin-item-border-radius: 8px;
    --pin-item-bg: var(--input-bg);
    --pin-color: #171516;

    --snackbar-bg: #474747;
    --snackbar-bg-green: limegreen;
    --snackbar-bg-red: red;
    --snackbar-bg-orange: orange;
    --snackbar-bg-orange-red: orangered;
    --snackbar-icon-color: white;

    --datepicker-container-months-color-bg: #fff;
    --datepicker-container-months-box-shadow-color: #ddd;
    --datepicker-footer-color-bg: #fafafa;
    --datepicker-footer-box-shadow-color: #ddd;
    --datepicker-tooltip-color-bg: #fff;
    --datepicker-month-header-color: #333;
    --datepicker-button-prev-month-color: #9e9e9e;
    --datepicker-button-next-month-color: #9e9e9e;
    --datepicker-button-prev-month-color-hover: #2196f3;
    --datepicker-button-next-month-color-hover: #2196f3;
    --datepicker-month-width: calc(var(--datepicker-day-width) * 7); // 7 days
    --datepicker-month-weekday-color: #9e9e9e;
    --datepicker-month-week-number-color: #9e9e9e;
    --datepicker-day-width: 38px;
    --datepicker-day-color: #333;
    --datepicker-day-color-hover: #2196f3;
    --datepicker-is-today-color: red;
    --datepicker-is-in-range-color: #bbdefb;
    --datepicker-is-locked-color: #9e9e9e;
    --datepicker-is-start-color: #fff;
    --datepicker-is-start-color-bg: #2196f3;
    --datepicker-is-end-color: #fff;
    --datepicker-is-end-color-bg: #2196f3;
    --datepicker-button-cancel-color: #fff;
    --datepicker-button-cancel-color-bg: #9e9e9e;
    --datepicker-button-apply-color: #fff;
    --datepicker-button-apply-color-bg: #2196f3;
    --datepicker-button-reset-color: #909090;
    --datepicker-button-reset-color-hover: #2196f3;
    --datepicker-highlighted-day-color: #333;
    --datepicker-highlighted-day-color-bg: #ffeb3b;
    --datepicker-shortcut-border-color: #e7e7e7;
}

body.scheme-dark {
    --font-color-1: white;
    --font-color-2: white;
    --font-color-disabled: #a5a5a5;

    --bttn-group-bg: #333333;

    --card-bg: #3e3e3e;

    --grey-border: #4e4e4e;

    --bg-disabled: #131313;
    --bg-0dp: #1e1e1e;
    --bg-1dp: #272727;
    --bg-2dp: #3e3e3e;
    --bg-3dp: #272727;

    --chip-font-color: white;
    --chip-bg: #3e3e3e;

    --input-border: #616161;
    --input-bg: #272727;
    --input-bg-disabled: #131313;
    --input-font-color-disabled: #6b6b6b;
    --input-error-border: 2px solid #fd4e4e;
    --input-label-radius: 4px;

    --select-bg: #272727;
    --select-border: #616161;
    --select-hover-color: #5f5f5f;
    --select-selected-bg-color: #52606d;
    --select-shadow-color: #1d1c1c;
    --select-icon-color: white;

    --filter-bg: #272727;
    --filter-border: #616161;
    --filter-icon-color: #5a5a5a;

    --address-via-options-bg: #272727;
    --address-via-options-hover: #5f5f5f;
    --address-color-placeholder: #bcbcbc;
    --address-input-border: #616161;

    --datepicker-container-months-color-bg: #272727;
    --datepicker-container-months-box-shadow-color: #131313;
    --datepicker-footer-color-bg: #fafafa;
    --datepicker-footer-box-shadow-color: #ddd;
    --datepicker-tooltip-color-bg: #fff;
    --datepicker-month-header-color: white;
    --datepicker-button-prev-month-color: #9e9e9e;
    --datepicker-button-next-month-color: #9e9e9e;
    --datepicker-month-weekday-color: #9e9e9e;
    --datepicker-month-week-number-color: #9e9e9e;
    --datepicker-day-color: white;
    --datepicker-day-color-hover: #2196f3;
    --datepicker-is-today-color: red;
    --datepicker-is-in-range-color: #264157;
    --datepicker-is-locked-color: #9e9e9e;
    --datepicker-is-start-color: #fff;
    --datepicker-is-start-color-bg: #2196f3;
    --datepicker-is-end-color: #fff;
    --datepicker-is-end-color-bg: #2196f3;
    --datepicker-highlighted-day-color: #333;
}

fieldset {
    border: 2px solid var(--input-border);
    border-radius: 12px;

    legend {
        font-size: rem(13);
        text-transform: uppercase;
    }
}

@-webkit-keyframes autofill-fix {
    0%,
    100% {
        color: black;
        background: var(--bg-2dp);
    }
}

@keyframes autofill-fix {
    0%,
    100% {
        color: black;
        background: var(--bg-2dp);
    }
}

@-webkit-keyframes autofill-fix-dark {
    0%,
    100% {
        color: white;
        background: var(--bg-2dp);
    }
}

@keyframes autofill-fix-dark {
    0%,
    100% {
        color: white;
        background: var(--bg-2dp);
    }
}

$inputs: "input, textarea, select, .form-control, ser-select, ser-date, ser-date-range, address-col-input, ser-input-file";
$inputsMaxH: "input, select, ser-date, ser-date-range, address-col-input";

input:-webkit-autofill {
    &,
    &:hover,
    &:focus,
    &:active {
        box-shadow: 0 0 0 1000px var(--input-bg) inset !important;
        -webkit-text-fill-color: var(--font-color-1) !important;
    }
}

ser-form-element {
    $parent: &;
    padding: 0 4px 8px;
    margin-top: 16px;

    > label:not(.switch) {
        font-size: rem(10);
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 8px;
    }

    &:not([plain]) {
        margin-top: 24px;

        > label:not(.switch) {
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: 0;
            max-width: calc(100% - 36px);
            border-radius: var(--input-label-radius);

            &.tr {
                left: 58px;
            }
        }

        &.active,
        &.focus {
            > label:not(.switch) {
                font-size: rem(8);
                letter-spacing: 1px;
                padding: 0 8px;
                border-radius: 8px;
                background-color: var(--input-bg);
            }
        }

        &.invalid.dirty {
            > label:not(.switch) {
                color: red;
            }
        }

        &.disabled {
            > label:not(.switch) {
                background-color: var(--input-bg-disabled);
                color: var(--input-font-color-disabled);
            }
        }
    }

    #{$inputs} {
        margin: 0;
        position: relative;
        font-family: inherit;
        color: var(--font-color-1);
        transition: background-color 500ms;
        outline: none;

        :-webkit-autofill {
            &,
            &:hover,
            &:focus,
            &:active {
                // box-shadow: 0 0 0 1000px var(--input-bg) inset !important;
                -webkit-text-fill-color: var(--font-color-1) !important;
            }
        }
    }

    > {
        #{$inputs} {
            font-size: var(--input-font-size);
            padding: 6px 12px;
            background-color: var(--input-bg);
            min-height: var(--input-min-height);
            border: 2px solid var(--input-border);
            border-radius: var(--input-border-radius);
        }

        #{$inputsMaxH} {
            max-height: var(--input-max-height);
        }

        pin-input {

            input {
                background-color: var(--input-bg);
                border: 2px solid var(--input-border);
                border-radius: var(--input-border-radius);
            }
        }
    }

    input::placeholder,
    textarea::placeholder,
    select::placeholder,
    .mat-select::placeholder {
        color: var(--font-color-placeholder);
    }

    > address-col-input {

        .via {
            margin-right: 16px;

            input {

                &.hint {
                    color: var(--address-color-placeholder);
                }
            }
        }

        .via-options {
            border-radius: 0 0 12px 12px;
            background-color: var(--address-via-options-bg);
            box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, 0.1), -2px 3px 4px 0px rgba(0, 0, 0, 0.1);

            &.ontop {
                border-radius: 12px 12px 0 0;
                box-shadow: 0px -3px 5px var(--select-shadow-color);
            }

            .via-item {
                font-size: 14px;
                padding: 8px;

                &:hover {
                    background-color: var(--address-via-options-hover);
                }
            }
        }

        input {
            font-family: var(--address-font-family);

        }

        input::placeholder {
            color: var(--font-color-placeholder);
        }
    }

    > ser-date,
    > ser-date-range {
        &.active {
            border-radius: 12px 12px 0 0;
        }
    }

    > ser-select {
        padding: 4px 16px;

        &.active {
            border-radius: var(--input-border-radius) var(--input-border-radius) 0 0;

            &.ontop {
                border-radius: 0 0 var(--input-border-radius) var(--input-border-radius);
            }
        }
    }

    .input-group {
        background-color: var(--input-bg);
        border: 2px solid var(--input-border);
        border-radius: var(--input-border-radius);
        transition: background-color 500ms;

        .addon {
            position: relative;
            margin-bottom: 0;
            font-weight: normal;
            text-align: center;
            padding: 6px 12px;
            font-family: inherit;
            font-size: rem(10);
            color: var(--font-color-1);
            display: flex;
            justify-content: center;
            align-items: center;

            .mat-icon,
            .material-icons,
            i {
                color: var(--input-icon-color);
            }
        }

        > {
            #{$inputs} {
                flex: 1;
                min-width: 0;
                font-size: var(--input-font-size);
                padding: 6px;
                min-height: var(--input-min-height);
                border-radius: var(--input-border-radius);
            }

            #{$inputsMaxH} {
                max-height: var(--input-max-height);
            }
        }
    }

    &.disabled {
        cursor: not-allowed;

        > label:not(.switch) {
            border-radius: 8px;
        }

        > {
            #{$inputs} {
                background-color: var(--input-bg-disabled);
                color: var(--input-font-color-disabled);
            }
        }

        .input-group {
            background-color: var(--input-bg-disabled);
        }
    }

    &.focus {

        > {
            #{$inputs} {
                box-shadow: 0 0 0 4px var(--input-focus-shadow-color);
                border-color: var(--input-focus-color);

                &:-webkit-autofill {
                    // box-shadow: 0 0 0 4px var(--input-focus-shadow-color), 0 0 0 1000px var(--input-bg) inset !important;
                    -webkit-text-fill-color: var(--font-color-1) !important;
                }
            }
        }

        pin-input {
            input {
                border-color: var(--input-focus-color);

                &:focus {
                    box-shadow: 0 0 0 4px var(--input-focus-shadow-color);
                }
            }
        }

        .input-group {
            box-shadow: 0 0 0 4px var(--input-focus-shadow-color);
            border-color: var(--input-focus-color);

            & {
                #{$inputs} {
                    &:-webkit-autofill {
                        // box-shadow: 0 0 0 1000px var(--input-bg) inset !important;
                        -webkit-text-fill-color: var(--font-color-1) !important;
                    }
                }
            }
        }

    }

    &.invalid {
        &.dirty {
            > {
                #{$inputs} {
                    border-color: var(--input-error-border-color);

                    .selected-list .controls .chevron {
                        color: var(--input-error-border-color);
                    }
                }

                ser-input-file {
                    .upload {
                        .material-icons {
                            color: var(--input-error-border-color);
                        }
                    }
                }
            }

            pin-input {
                input {
                    border-color: var(--input-error-border-color);

                    &:focus {
                        box-shadow: 0 0 0 4px var(--input-focus-shadow-color);
                    }
                }
            }

            .input-group {
                border-color: var(--input-error-border-color);

                .addon {
                    .mat-icon,
                    .material-icons,
                    i {
                        color: var(--input-error-border-color);
                    }
                }
            }
        }
    }

    &.focus,
    &.active {

        > label:not(.switch) {

            &.tr {
                left: 16px;
            }
        }

        &.invalid {
            &.dirty {

                > {
                    #{$inputs} {
                        box-shadow: 0 0 0 4px var(--input-error-shadow-color);

                        &:-webkit-autofill {
                            box-shadow: 0 0 0 4px var(--input-error-shadow-color), 0 0 0 1000px var(--input-bg) inset !important;
                            -webkit-text-fill-color: var(--font-color-1) !important;
                        }
                    }
                }

                .input-group {
                    box-shadow: 0 0 0 4px var(--input-error-shadow-color);
                }
            }
        }

        address-col-input {
            .via {
                input {
                    &.via-input {
                        border-bottom: 2px solid var(--address-input-border);
                    }

                    &.hint {
                        visibility: visible;
                    }
                }
            }

            input {
                &.address1,
                &.address2,
                &.address3 {
                    border-bottom: 2px solid var(--address-input-border);
                }
            }

            .s1,
            .s2 {
                visibility: visible;
            }
        }
    }

    &.active {
        ser-select.multiple {
            .selected-list {
                .values {
                    .token-list {
                        margin: 8px 0;
                    }
                }
            }
        }
    }

    [serErrors],
    .errors {
        padding-left: 4px;
        color: red;
        font-size: rem(10);

        * {
            text-align: right;
            margin-top: 2px;
        }
    }
}

@keyframes dropdown-appear {
    from {
        transform: scaleY(0.8);
        opacity: 0.8;
    }

    to {
        transform: scaleY(1);
        opacity: 1;
    }
}

ser-select {
    .selected-list {
        .values {
            .token-list {
                .token {
                    background-color: var(--select-base-color);

                    .label {
                        color: var(--select-token-text-color);
                    }
                }
            }
        }

        .controls {

            .clear-all {
                background-color: var(--input-border);
                border-radius: 50%;
                padding: 4px;

                .material-icons {
                    font-size: 12px;
                    font-weight: bold;
                    color: var(--select-icon-color);
                }
            }

            .clear-all,
            .chevron {
                color: var(--select-border);
            }
        }
    }

    &.active.multiple {
        .selected-list {
            .values {
                .token-list {
                    margin: 8px 0;
                }
            }
        }
    }

    .dropdown-list {
        border-radius: 0 0 12px 12px;
        background-color: var(--select-bg);
        box-shadow: 2px 3px 4px 0px var(--select-shadow-color), -2px 3px 4px 0px var(--select-shadow-color);

        &.ontop {
            border-radius: 12px 12px 0 0;
            box-shadow: -2px -1px 5px var(--select-shadow-color), 2px -1px 5px var(--select-shadow-color);
        }

        .select-all {
            padding: 10px;
            border-bottom: 1px solid var(--select-border);
        }

        .list-filter {
            padding: 0 10px;
            height: 35px;
            border-bottom: 1px solid var(--select-border);

            input {
                background-color: var(--bg-input);
            }
        }

        .list {
            > .item {
                &:hover {
                    background: var(--select-hover-color);
                }

                &.selected-item {
                    background-color: var(--select-selected-bg-color);
                }
            }
        }

        &:not(.single-select-mode) {
            .pure-checkbox {
                input[type="checkbox"] {
                    &:focus,
                    &:hover {
                        + label {
                            &:before {
                                border-color: var(--select-base-color);
                                background-color: #f2f2f2;
                            }
                        }
                    }

                    &:checked {
                        + label {
                            &:before {
                                background: var(--select-base-color);
                            }
                        }
                    }

                    + label {
                        &:before {
                            border: 1px solid var(--select-base-color);
                        }

                        &:after {
                            color: white;
                        }
                    }

                    &:disabled {
                        + label {
                            color: #cccccc;

                            &:before {
                                border-color: #cccccc;
                            }
                        }

                        &:checked {
                            + label {
                                &:before {
                                    background-color: #cccccc;
                                }
                            }
                        }
                    }
                }

                input[type="radio"] {
                    &:checked {
                        + label {
                            &:before {
                                background-color: white;
                            }
                        }
                    }
                }
            }
        }

        &.single-select-mode {
            .pure-checkbox {
                input[type="checkbox"] {
                    &:checked {
                        + label {
                            &:after {
                                color: var(--select-check-color);
                            }
                        }
                    }
                }
            }
        }
    }
}

ser-filter {
    font-size: rem(10);

    .list-filter {
        border-radius: 12px;
        padding: 4px 8px;
        color: var(--font-color-1);
        background-color: var(--input-bg);
        border: 2px solid var(--input-border); // #dbdbdb;

        .label {
            opacity: 0.6;
            left: 37px;
            top: 50%;
            transform: translateY(-50%);
            background-color: var(--input-bg);

            &.active {
                top: -1px;
                left: 7px;
                opacity: 1;
                padding: 0 8px;
            }
        }

        .icon-search,
        .icon-clear {
            font-size: 19px;
            color: var(--filter-icon-color);
        }

        .icon-search {
            margin-right: 8px;
        }

        .icon-clear {
            margin-left: 8px;
        }

        .controls {
            margin-left: 16px;

            .clear-all,
            .chevron {
                color: var(--select-border);
            }

            .clear-all {
                background-color: var(--input-border);
                border-radius: 50%;
                padding: 4px;

                .material-icons {
                    font-size: 12px;
                    font-weight: bold;
                }
            }

            .chevron {
                font-size: 28px;

                &.rotate {
                    transform: rotate(-180deg);
                }
            }
        }
    }

    button[type="button"] {
        color: var(--font-color-2);
        font-family: "Segoe UI", sans-serif;
        border-radius: 50%;
    }

    .selected-list {
        .values {
            .token-list {
                padding: 0px;
                margin: 8px 0px;

                .token {
                    padding: 4px 8px;
                    border-radius: 16px;
                    margin: 8px 8px 0 0;
                    color: white;
                    background-color: var(--filter-token-color);

                    .remove {
                        color: white;
                        margin: 0 0 0 8px;

                        .material-icons {
                            font-size: 12px;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }

    .dropdown-list {
        border-radius: 0 0 12px 12px;
        background-color: var(--select-bg);
        margin: 0px;
        box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, 0.1), -2px 3px 4px 0px rgba(0, 0, 0, 0.1);
        animation: dropdown-appear 150ms ease-in-out;

        &.ontop {
            border-radius: 12px 12px 0 0;
            box-shadow: 0px -3px 5px #959595;
        }

        .list {
            padding: 0px;
            margin: 0px;

            .item {
                padding: 10px;
                text-align: left;
            }

            .item:first-child {
                padding-top: 10px;
            }

            .item:last-child {
                padding-bottom: 10px;
            }

            .item:hover {
                background-color: rgba(131, 131, 131, 0.13);
            }
        }

        ::-webkit-scrollbar {
            width: 8px;
        }

        ::-webkit-scrollbar-thumb {
            background: #cccccc;
            border-radius: 5px;
        }

        ::-webkit-scrollbar-track {
            background: #f2f2f2;
        }
    }

    .select-all {
        padding: 10px;
        border-bottom: 1px solid #ccc;
        text-align: left;
    }

    .pure-checkbox {
        input[type="checkbox"] {
            &:focus,
            &:hover {
                + label:before {
                    border: 0 solid var(--filter-check-color);
                    background-color: #f2f2f2;
                }
            }

            &:disabled {
                + label {
                    color: #cccccc;

                    &:before {
                        border-color: #cccccc;
                    }
                }

                &:focus,
                &:hover {
                    + label {
                        &:before {
                            background-color: inherit;
                        }
                    }
                }

                &:checked {
                    + label {
                        &:before {
                            background-color: #cccccc;
                        }
                    }
                }
            }

            + label {
                padding-left: 2em;
                vertical-align: middle;
                margin: 0px;
                font-weight: 300;
                font-size: 0.8rem;

                &:before {
                    color: var(--select-check-color);
                    top: 50%;
                    left: 0;
                    width: 15px;
                    height: 15px;
                    margin-top: -9px;
                    text-align: center;
                    transition: all 0.4s ease;
                    border-radius: 3px;
                    /*border: 2px solid $base-color;*/
                }

                &:after {
                    left: 3px;
                    width: 9px;
                    height: 4px;
                    top: 50%;
                    margin-top: -5px;
                    transform: rotate(-45deg) scale(0);
                    background-color: transparent;
                    border-style: solid;
                    border-width: 0 0 2px 2px;
                    /*background-color: $base-color;*/
                }
            }
        }

        input[type="radio"] {
            &:checked {
                + label {
                    &:before {
                        background-color: white;
                    }
                }
            }

            + label {
                &:before {
                    border-radius: 50%;
                }
            }
        }
    }

    /* &.disabled {
        color: var(--font-color-disabled);
    } */

    &.active {
        .list-filter {
            border-radius: 12px 12px 0 0;
            box-shadow: 0 0 0 4px var(--input-focus-shadow-color) ;
            border: 2px solid var(--input-focus-color);

            &.ontop {
                border-radius: 0 0 12px 12px;
            }
        }
    }
}

ser-date,
ser-date-range {

    .controls {

        .clear-all {
            background-color: var(--input-border);
            border-radius: 50%;
            padding: 4px;

            .material-icons {
                font-size: 12px;
                font-weight: bold;
                color: var(--select-icon-color);
            }
        }

        .clear-all,
        .chevron {
            color: var(--select-border);
        }
    }

}

ser-input-file {
    display: flex;

    .files {
        flex: 1;
        min-width: 0;

        .file {
            display: inline-flex;
            gap: 8px;
            padding: 4px 4px 4px 8px;
            border-radius: 240px;
            margin: 4px;
            max-width: 100%;
            background-color: var(--input-file-item-bg);

            .name {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                flex: 1;
                color: inherit;
            }

            .delete {
                background-color: var(--input-file-item-delete-bg);
                border-radius: 50%;
                padding: 3px;
                width: 20px;
                height: 20px;
                cursor: pointer;
                display: flex;
                align-items: center;

                .material-icons {
                    font-size: 13px;
                    font-weight: bold;
                    color: var(--input-file-item-delete-color);
                }
            }
        }
    }

    .upload {
        cursor: pointer;
        margin-left: 8px;
        padding: 6px 0 0;
        color: var(--input-icon-color);

        .mat-icon {
            color: var(--input-icon-color);
        }
    }

    &[multiple] {
        .files {

            .file {

                .delete {
                    align-items: flex-start;
                }
            }
        }
    }
}

.longpress {
    user-select: none;
}

.scheme-dark {
    select:-webkit-autofill,
    textarea:-webkit-autofill,
    input:-webkit-autofill {
        -webkit-animation-name: autofill-fix-dark;
        animation-name: autofill-fix-dark;
    }

    fieldset {
        border: 1px solid #4e4e4e;
    }
}
