@use 'mixins.scss' as mixins;

.mat-dialog-container {
    background-color: var(--bg-0dp);
}

.dialog-message {
    display: flex;
    max-width: 500px;

    .image {
        width: 100px;
        min-width: 100px;
        display: flex;
        @include mixins.center-center;

        img {
            max-width: 100%;
        }
    }

    .text {
        margin-left: 24px;
        text-align: right;
        font-size: mixins.rem(16);

        .form-errors {
            margin: 0;
            padding: 0;

            li {
                margin: 0;
                padding: 0;
                list-style: none;
            }
        }
    }
}
