@use 'mixins.scss' as mixins;

.dropzone{
    position: relative;
    cursor: pointer;
    min-height: 200px;
    padding: 8px;
    border: 2px dashed rgba(black, 0.55);
    border-radius: 6px;
    display: flex;
    @include mixins.center-center;

    .placeholder{
        text-align: center;
    }

    .thumbnail{
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        min-height: 200px;
        width: 200px;
    }

    .clean-file{
        position: absolute;
        bottom: -22px;
        right: -25px;
    }

    &.file{
        min-height: 50px;
    }

    &.dragover{
        background-color: grey;
        color: white;
        border-color: white;
    }
}


.scheme-dark {
    .dropzone {
        border: 2px dashed rgba(white, 0.55);
    }
}
