@import "mixins.scss";


[hidden] {
    display: none !important;
}

fieldset {
    -webkit-padding-before: 16px;
    padding: 16px 16px 8px;
    margin: 0;
    border-radius: 4px;
    font-family: inherit;
    position: relative;
    min-width: 0;
}

legend {
    position: relative;
    top: 2px;
    padding: 0 16px;
    margin-left: -10px;
    user-select: none;
}

select,
textarea,
input {
    border: none;
}

ser-form-element {
    > label:not(.switch) {
        pointer-events: none;
    }
}

ser-form-element,
.form-group {
    $inputs: "input, textarea, select, ser-select, ser-date, ser-date-range, address-col-input";
    display: flex;
    position: relative;
    flex-direction: column;

    > #{$inputs} {
        position: relative;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        background-image: none;
        background-clip: padding-box;
        outline: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        max-width: 100%;
    }

    .radio-group {
        display: flex;
        align-items: center;

        .radio-input {
            display: flex;
            align-items: center;
        }
    }

    > label:not(.switch) {
        display: inline-block;
    }

    &:not([plain]) {

        > label:not(.switch) {
            display: inline-block;
            position: absolute;
            z-index: 2;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            transition: all 200ms ease-in-out;

            & + #{$inputs} {

                &:not(:focus) {
                    &::-webkit-input-placeholder { opacity: 0; } /* Chrome <=56, Safari < 10 */
                    &:-moz-placeholder { opacity: 0; } /* FF 4-18 */
                    &::-moz-placeholder { opacity: 0; } /* FF 19-50 */
                    &:-ms-input-placeholder { opacity: 0; } /* IE 10+ */
                    &::placeholder { opacity: 0; } /* Modern Browsers */
                }
            }
        }

        &.active,
        &.focus {
            > label:not(.switch) {
                top: -5px;
                left: 16px;
                transition: all 200ms ease-in-out;
                pointer-events: all;
            }
        }

        [serErrors],
        .errors {
            height: 0;
        }
    }

    .input-group {
        display: flex;
        // overflow-x: hidden;
        position: relative;

        .addon {
            display: flex;
            user-select: none;
        }
    }

    [serErrors],
    .errors {
        user-select: none;

        [hidden] {
            display: none;
        }
    }

    .loader:after {
        overflow: hidden;
        position: absolute;
        -webkit-animation: ellipsis steps(4, end) 4s infinite;
        animation: ellipsis steps(4, end) 4s infinite;
        content: "...";
        width: 0px;
    }
}

.form-group.no-padding {
    padding-bottom: 0;
}

ser-select.disabled {
    .d-btn {
        cursor: not-allowed;
        user-select: none;
    }
}

ser-input-file,
ser-input-image {
    input {
        display: none;
    }
}

ser-input-number,
ser-input-currency {
    input {
        width: 100%;
    }
}

.scheme-dark {

    select:-webkit-autofill,
    textarea:-webkit-autofill,
    input:-webkit-autofill {
        -webkit-animation-name: autofill-fix-dark;
        animation-name: autofill-fix-dark;
    }

    fieldset {
        border: 1px solid #4e4e4e;
    }
}
