@import "mixins.scss";


[hidden] {
    display: none !important;
}

fieldset {
    -webkit-padding-before: 16px;
    padding: 16px 16px 8px;
    margin: 0;
    border-radius: 4px;
    font-family: inherit;
    border: 1px solid #bfbfbf;
    position: relative;
    min-width: 0;
}

legend {
    position: relative;
    top: 2px;
    font-size: rem(13);
    text-transform: uppercase;
    padding: 0 16px;
    margin-left: -10px;
    user-select: none;
}

select,
textarea,
input {
    background-color: var(--bg-2dp);
    color: black;
    border: none;
}

@-webkit-keyframes autofill-fix {
    0%,
    100% {
        color: black;
        background: var(--bg-2dp);
    }
}

@-webkit-keyframes autofill-fix-dark {
    0%,
    100% {
        color: white;
        background: var(--bg-2dp);
    }
}

select:-webkit-autofill,
textarea:-webkit-autofill,
input:-webkit-autofill {
    -webkit-animation-delay: 1s; /* Safari support - any positive time runs instantly */
    -webkit-animation-name: autofill-fix;
    -webkit-animation-fill-mode: both;
}

ser-form-element {
    > label:not(.switch) {
        pointer-events: none;
    }
}

ser-form-element,
.form-group {
    display: flex;
    position: relative;
    padding: 0 4px 8px;
    margin-top: 16px;
    flex-direction: column;

    .input-group {
        display: flex;
        overflow-x: hidden;
        position: relative;

        .addon {
            display: flex;
            padding: 3px 12px;
            margin-bottom: 0;
            font-weight: normal;
            text-align: center;
            color: var(--font-color-1);
            background-color: var(--bg-3dp);
            transition: background-color 500ms;
            border-radius: 6px;
            user-select: none;
            justify-content: center;
            align-items: center;
        }

        > input:not(.not-styled),
        > textarea:not(.not-styled),
        > select:not(.not-styled) {
            width: 100%;
        }

        > input:not(.not-styled):first-child,
        > textarea:not(.not-styled):first-child,
        > select:not(.not-styled):first-child,
        > .selector-container:first-child .selector-input,
        > .addon:first-child {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        .addon:first-child {
            border-right-width: 0;
        }

        > input:not(.not-styled):last-child,
        > textarea:not(.not-styled):last-child,
        > select:not(.not-styled):last-child,
        > .selector-container:last-child .selector-input,
        > .addon:last-child {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        .addon:last-child {
            border-left-width: 0;
        }

        > input:not(:first-child):not(:last-child),
        > textarea:not(:first-child):not(:last-child),
        > select:not(:first-child):not(:last-child),
        > .selector-container:not(:first-child):not(:last-child) .selector-input,
        > .addon:not(:first-child):not(:last-child) {
            border-radius: 0;
        }

        > input:first-child:last-child:only-child,
        > textarea:first-child:last-child:only-child,
        > select:first-child:last-child:only-child,
        > .selector-container:first-child:last-child:only-child .selector-input,
        > .addon:first-child:last-child:only-child {
            border-radius: 6px;
        }
    }

    input:not(.not-styled),
    textarea:not(.not-styled),
    select:not(.not-styled),
    ser-select:not(.not-styled),
    .mat-select:not(.not-styled) {
        position: relative;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        margin: 0;
        padding: 6px 12px;
        font-family: inherit;
        font-size: rem(10);
        color: var(--font-color-1);
        background-color: var(--input-bg);
        border: 2px solid var(--input-border);
        transition: background-color 500ms;
        background-image: none;
        background-clip: padding-box;
        border-radius: 6px;
        outline: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        max-width: 100%;
    }

    input:not(.not-styled)::placeholder,
    textarea:not(.not-styled)::placeholder,
    select:not(.not-styled)::placeholder,
    .mat-select:not(.not-styled)::placeholder {
        color: var(--font-color-1);
    }

    input[disabled],
    textarea[disabled],
    select[disabled],
    ser-select.disabled,
    .mat-select[disabled] {
        background-color: var(--bg-disabled);
        color: var(--font-color-disabled);
    }

    > input:not(.not-styled),
    > select:not(.not-styled),
    > .mat-select:not(.not-styled) {
        max-height: 50px;
        min-height: 50px;
    }

    > ser-select:not(.not-styled) {
        min-height: 50px;

        &.active {
            border-radius: 6px 6px 0 0;

            &.ontop {
                border-radius: 0 0 6px 6px;
            }
        }
    }

    > label:not(.switch) {
        display: inline-block;
        font-size: rem(10);
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 8px;
    }

    &.invalid {
        input:not(.not-styled),
        textarea:not(.not-styled),
        select:not(.not-styled),
        ser-select:not(.not-styled) {
            padding: 5px 11px;
        }
    }

    &:not([plain]) {
        margin-top: 24px;

        > label:not(.switch) {
            display: inline-block;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 1px;
            position: absolute;
            z-index: 1;
            top: 17px;
            left: 18px;
            margin-bottom: 0;
            max-width: calc(100% - 36px);
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            transition: all 200ms ease-in-out;
        }

        &.active,
        &.focus {
            > label:not(.switch) {
                font-size: rem(8);
                top: -7px;
                left: 10px;
                padding: 0 4px;
                background-color: var(--input-bg);
                transition: all 200ms ease-in-out;
                pointer-events: all;
            }
        }

        &.invalid.dirty {
            > label:not(.switch) {
                color: red;
            }
        }

        [serErrors],
        .errors {
            height: 0;
        }
    }

    [serErrors],
    .errors {
        padding-left: 4px;
        color: red;
        user-select: none;

        [hidden] {
            display: none;
        }

        * {
            text-align: right;
            margin-top: 2px;
        }
    }

    input.ng-invalid.ng-dirty:not(.not-styled),
    textarea.ng-invalid.ng-dirty:not(.not-styled),
    select.ng-invalid.ng-dirty:not(.not-styled),
    ser-select.ng-invalid.ng-dirty:not(.not-styled),
    .mat-select.ng-invalid.ng-dirty:not(.not-styled) {
        border: var(--input-error-border);
    }

    ser-select.ng-invalid.ng-dirty:not(.not-styled) {
        .selected-list .controls .chevron {
            color: red;
        }
    }

    .loader:after {
        overflow: hidden;
        position: absolute;
        -webkit-animation: ellipsis steps(4, end) 4s infinite;
        animation: ellipsis steps(4, end) 4s infinite;
        content: "...";
        width: 0px;
    }
}

.form-group.no-padding {
    padding-bottom: 0;
}

input[disabled],
textarea[disabled],
select[disabled],
ser-select.disabled,
.mat-select[disabled] {
    opacity: 0.8;
    cursor: not-allowed;
    user-select: none;
    background-color: var(--bg-disabled);
}

ser-select.disabled {
    .d-btn {
        cursor: not-allowed;
        user-select: none;
    }
}

@keyframes dropdown-appear {
    from {
        transform: scaleY(0.8);
        opacity: 0.8;
    }

    to {
        transform: scaleY(1);
        opacity: 1;
    }
}

.scheme-dark {

    select:-webkit-autofill,
    textarea:-webkit-autofill,
    input:-webkit-autofill {
        -webkit-animation-name: autofill-fix-dark;
    }

    fieldset {
        border: 1px solid #4e4e4e;
    }
}
