@import "mixins.scss";

.content-placeholder-container {
    width: 100%;
    display: flex;
    overflow: hidden;
}

.content-placeholder-checkbox-space::before {
    animation: content-placeholder 2s linear infinite;
    background: linear-gradient(to right, #eff1f3 4%, #e2e2e2 25%, #eff1f3 36%);
    background-size: 1000px 100%;
}

.content-placeholder {
    animation: content-placeholder 2s linear infinite;
    background: linear-gradient(to right, #eff1f3 4%, #e2e2e2 25%, #eff1f3 36%);
    background-size: 1000px 100%;

    &.input {
        height: 29px;
        margin-top: 39px;
        border-radius: 6px;
    }

    &.text {
        height: 16px;
        width: 100%;
        border-radius: 4px;
    }
}

@keyframes content-placeholder {
    0% {
        background-position: -1000px 0;
    }
    100% {
        background-position: 1000px 0;
    }
}

.loader-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 20;
    background-color: white;
    transition: background-color 500ms;
    cursor: wait;
    @include column;
    @include center-center;

    .logo {
        width: 60px;
    }

    .message {
        margin-top: 16px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 600;
    }

    .message:after {
        overflow: hidden;
        position: absolute;
        -webkit-animation: ellipsis steps(4, end) 4s infinite;
        animation: ellipsis steps(4, end) 4s infinite;
        content: "...";
        width: 0px;
    }
}

.loader-wrapper.fixed {
    position: fixed;
    top: initial;
    left: initial;
}

@keyframes ellipsis {
    to {
        width: 20px;
    }
}

@-webkit-keyframes ellipsis {
    to {
        width: 20px;
    }
}

.loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(white, 0.9);
    z-index: 20;
    @include column;
    @include center-center;
}

@media (min-width: 1000px) {
    main .loader-wrapper.fixed {
        width: calc(100% - 250px);
    }
}

@keyframes cssload-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@-o-keyframes cssload-rotate {
    100% {
        -o-transform: rotate(360deg);
    }
}

@-ms-keyframes cssload-rotate {
    100% {
        -ms-transform: rotate(360deg);
    }
}

@-webkit-keyframes cssload-rotate {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes cssload-rotate {
    100% {
        -moz-transform: rotate(360deg);
    }
}

.line-loader {
    height: 4px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #ddd;
}

.line-loader:before {
    display: block;
    position: absolute;
    content: "";
    left: -200px;
    width: 200px;
    height: 4px;
    background-color: #2980b9;
    animation: line-loader-animation 2s linear infinite;
}

@keyframes line-loader-animation {
    from {
        left: -200px;
        width: 30%;
    }
    50% {
        width: 30%;
    }
    70% {
        width: 70%;
    }
    80% {
        left: 50%;
    }
    95% {
        left: 120%;
    }
    to {
        left: 100%;
    }
}

.dots:after {
    overflow: hidden;
    position: absolute;
    -webkit-animation: ellipsis steps(4, end) 4s infinite;
    animation: ellipsis steps(4, end) 4s infinite;
    content: "...";
    width: 0px;
}

loader-backdrop {
    position: fixed;
    background-color: rgba(black, 0.78);
    z-index: 10000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

    img {
        width: 100px;
    }

    .text {
        font-size: 20px;
        text-align: center;
    }
}

.offline-backdrop {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 104;
    background: rgba(0, 0, 0, 0.84);
    @include row;
    @include center-center;
}

.loader-wrapper {
    .logo.dark {
        display: none;
    }
}

.scheme-dark {
    .loader {
        background-color: rgba(#1e1e1e, 0.95);
    }

    .loader-wrapper {
        background-color: var(--dark-grey-0dp);

        .logo.light {
            display: none;
        }

        .logo.dark {
            display: block;
        }
    }
}
