@import 'mixins.scss';

ser-select {
    position: relative;

    virtual-scroll {
        display: block;
        width: 100%;
    }

    button[type="button"] {
        padding: 0;
        color: var(--font-color-2);
        font-family: 'Segoe UI', sans-serif;
        background-image: none;
        text-decoration: none;
        white-space: nowrap;
        background-color: transparent;
        border-radius: 50%;
        margin: 0;
        border: none;
        cursor: pointer;
        box-sizing: border-box;
        outline: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .selected-list {
        width: 100%;
        cursor: pointer;
        display: flex;
        position: relative;
        outline: none;
        border-width: 1px;
        line-height: 1.25;
        border-radius: 3px;
        font-size: 0.85rem;
        align-items: center;
        min-height: 28px;

        .values {
            flex: 1;

            .token-list {
                padding: 0px;
                margin: 0px;
                width: 100%;

                .token {
                    display: inline-flex;
                    position: relative;
                    padding: 4px 8px;
                    border-radius: 6px;
                    margin: 2px 4px 0 0;

                    .remove {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: white;
                        user-select: none;
                        margin: 0 8px;

                        .material-icons {
                            font-size: 12px;
                            font-weight: bold;
                        }
                    }
                }
            }
        }

        .controls {
            display: flex;
            align-items: center;
            margin-left: 16px;

            .clear-all,
            .chevron {
                user-select: none;
            }

            .chevron {
                font-size: 28px;
                pointer-events: none;
                transition: transform 300ms ease-in-out;

                &.rotate {
                    transform: rotate(-180deg);
                    transition: transform 300ms ease-in-out;
                }
            }

            .countplaceholder {
                position: absolute;
                right: 45px;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        .d-btn {
            width: 100%;
            /* box-shadow: 0px 1px 5px $box-shadow-color; */
            padding: 5px 10px;
            cursor: pointer;
            display: flex;
            position: relative;
            outline: none;

            /* .c-icon {
                position: absolute;
                right: 5px;
                top: 50%;
                transform: translateY(-50%);
            } */
        }
    }

    &.disabled {
        .selected-list {
            cursor: not-allowed;
        }
    }

    &.multiple {
        .selected-list {

            .controls {
                flex-direction: column;
            }
        }
    }

    .dropdown-list {
        position: fixed;
        overflow: hidden;
        z-index: 3;
        margin: 0px;
        transform-origin: 0 0;
        animation: dropdown-appear 150ms ease-in-out;

        @media (max-width: 600px) {
            top: 0 !important;
            left: 0 !important;
            width: 100% !important;
            height: 100% !important;

            .select-all + .list-container {
                max-height: calc(100% - 87px) !important;
            }
        }

        .list-container {

            @media (max-width: 600px) {
                height: calc(100% - 45px) !important;
            }

            .simple-close {
                display: none;
                padding: 8px;

                @media (max-width: 600px) {
                    display: block;
                }
            }

            .list {
                overflow: auto;

                @media (max-width: 600px) {
                    max-height: 100% !important;
                }

                > .item,
                > .cdk-virtual-scroll-content-wrapper > .item {
                    display: flex;
                    padding: 10px 10px;
                    cursor: pointer;
                    text-align: left;

                    &.disabled {
                        opacity: 0.4;
                        cursor: not-allowed;

                        &.pure-checkbox {
                            input[type=checkbox] + label {
                                cursor: not-allowed;
                            }
                        }
                    }

                    &:first-child {
                        padding-top: 10px;
                    }

                    &:last-child {
                        padding-bottom: 10px;
                    }

                    &:hover {
                        background-color: rgba(131, 131, 131, 0.13);
                    }
                }

                .loading {
                    padding: 8px 16px;

                    .text {
                        height: 20px;
                        border-radius: 24px;
                    }
                }
            }
        }

        &.lazy-loading {
            .list {
                height: 300px;
            }
        }

        .pure-checkbox {
            input[type="checkbox"] {
                border: 0;
                clip: rect(0 0 0 0);
                height: 1px;
                margin: -1px;
                overflow: hidden;
                padding: 0;
                position: absolute;
                width: 1px;

                + label {
                    position: relative;
                    padding-left: 2em;
                    vertical-align: middle;
                    user-select: none;
                    cursor: pointer;
                    margin: 0px;
                    font-weight: normal;
                    font-size: 0.8rem;

                    &:before {
                        content: "";
                        box-sizing: content-box;
                        position: absolute;
                        top: 50%;
                        left: 0;
                        width: 15px;
                        height: 15px;
                        margin-top: -9px;
                        text-align: center;
                        transition: all 0.4s ease;
                        border-radius: 3px;
                    }

                    &:after {
                        content: "";
                        box-sizing: content-box;
                        position: absolute;
                        top: 50%;
                        // left: 0;
                        left: 3px;
                        // width: 15px;
                        // height: 15px;
                        width: 9px;
                        height: 4px;
                        // margin-top: -9px;
                        margin-top: -5px;
                        // transform: scale(0);
                        transform: rotate(-45deg) scale(0);
                        transform-origin: 50%;
                        transition: transform 200ms ease-out;

                        border-style: solid;
                        border-width: 0 0 2px 2px;
                        border-image: none;
                    }
                }

                &:active {
                    + label {
                        &:before {
                            transition-duration: 0s;
                        }
                    }
                }

                &:checked {
                    + label {
                        &:after {
                            content: "";
                            transform: rotate(-45deg) scale(1);
                            transition: transform 200ms ease-out;
                        }
                    }
                }
            }

            input[type="radio"] {

                + label {
                    &:before {
                        border-radius: 50%;
                    }
                }

                &:checked {
                    + label {
                        &:before {
                            background-color: white;
                        }

                        &:after {
                            transform: scale(1);
                        }
                    }
                }
            }
        }

        ::-webkit-scrollbar {
            width: 8px;
        }

        ::-webkit-scrollbar-thumb {
            background: #cccccc;
            border-radius: 5px;
        }

        ::-webkit-scrollbar-track {
            background: #f2f2f2;
        }
    }

    .list-filter {
        display: flex;
        align-items: center;
        position: relative;

        input {
            flex: 1;
            border: 0px;
            height: 100%;
            width: 100%;
            padding: 0px;
            outline: none;
        }
    }

    .list-message {
        text-align: center;
        margin: 0px;
        padding: 15px 0px;
        font-size: initial;
    }

    .nodata-label {
        width: 100%;
        text-align: center;
        padding: 10px 0px 0px;
    }

}
