@forward 'mixins.scss';

.steps {
    list-style: none;
    margin: 0;
    padding: 16px 8px;
    display: table;
    table-layout: fixed;
    width: 100%;
    color: #849397;

    > li {
        position: relative;
        display: table-cell;
        text-align: center;
        font-size: rem(13);
    }

    > li:before {
        content: attr(data-step);
        display: block;
        margin: 0 auto;
        background-color: #DFE3E4;
        width: 45px;
        height: 45px;
        text-align: center;
        margin-bottom: 5px;
        line-height: 45px;
        border-radius: 100%;
        position: relative;
        z-index: 1;
    }

    > li:after {
        content: '';
        position: absolute;
        display: block;
        background-color: #DFE3E4;
        width: 100%;
        height: 0.5em;
        top: 1.25em;
        left: 50%;
        margin-left: 1.5em\9;
    }

    > li:last-child:after {
        display: none;
    }

    > li.is-complete {
        color: #21771b;
    }

    > li.is-complete:before,
    > li.is-complete:after {
        color: #21771b;
        background-color: #87ec6d;
        -webkit-box-shadow: inset 0 0 7px 0 rgba(0, 0, 0, 0.3);
        -moz-box-shadow: inset 0 0 7px 0 rgba(0, 0, 0, 0.3);
        box-shadow: inset 0 0 7px 0 rgba(0, 0, 0, 0.3);
    }
    > li.is-active {
        color: #185698;
    }
    > li.is-active:before {
        color: #185698;
        background-color: #84d0fd;
        border-color: #3694f7;
        box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
    }
}




/**
* Needed for IE8
*/
.progress__last:after {
    display: none !important;
}

@media (max-width: 800px){
    .steps {
        padding: 16px 0;
    }
}
