.switch {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    user-select: none;

    input {
        display: none;

        &:not(:checked)+i {
            background-color: var(--light-grey-2dp);
        }
    }

    i {
        display: inline-block;
        cursor: pointer;
        padding-right: 20px;
        margin-right: 16px;
        transition: all ease 0.2s;
        border-radius: 20px;
        box-shadow: inset 0 0 1px rgba(0, 0, 0, .5);

        &:before {
            display: block;
            content: '';
            width: 20px;
            height: 20px;
            margin: 2px;
            border-radius: 20px;
            background-color: white;
            box-shadow: 0 1px 2px rgba(0, 0, 0, .5);
        }
    }

    :checked+i {
        padding-right: 0;
        padding-left: 20px;
        box-shadow: inset 0 0 1px rgba(0, 0, 0, .5), inset 0 0 40px #3ed400;
        background-color: #a9e296;
    }
}

.scheme-dark {
    .switch {
        input:not(:checked)+i {
            background-color: var(--dark-grey-2dp);
        }
    }
}
