
body{
    font-size: 14px;
    font-family: var(--font-family-primary);
    color: var(--font-color-1);
}

h1, h2, h3, h4, h5, h6 {
    text-shadow: rgba(black, 0.15) 0 0 1px;
    margin: 8px 0;
    font-weight: normal;
}

.info {
    color: var(--blue-primary);
    fill: var(--blue-primary);
}

.success {
    color: #24BC24;
    fill: #24BC24;
}

.alert {
    color: #ffbe00;
    fill: #ffbe00;
}

.danger {
    color: red;
    fill: red;
}

.warning {
    color: var(--button-orange-font);
    fill: var(--button-orange-font);
}

.scheme-dark{

  h1, h2, h3, h4, h5, h6 {
    text-shadow: rgba(white, 0.15) 0 0 1px;
  }
}
