@use 'mixins.scss' as mixins;

.week-day,
week-day {
    display: block;
    padding: 16px;

    .wrapper {
        display: flex;
        @include mixins.space-around-center;

        .day {
            display: -webkit-flex;
            display: flex;
            @include mixins.center-center;
            padding: 4px;
            border: 1px solid var(--button-blue-border);
            color: var(--button-blue-font);
            border-radius: 50%;
            height: 40px;
            width: 40px;
            user-select: none;
        }

        .day:active {
            -webkit-box-shadow: inset 0 0 7px 0 rgba(0, 0, 0, 0.3);
            -moz-box-shadow: inset 0 0 7px 0 rgba(0, 0, 0, 0.3);
            box-shadow: inset 0 0 7px 0 rgba(0, 0, 0, 0.3);
        }

        .day.active {
            background: var(--button-blue-bg);
            color: var(--button-blue-font);
        }
    }
}
