<div class="input-control" #inputControl (click)="toggleDropdown($event)">
    {{ selectedDate | date: settings.inputFormat }}

    <div class="controls">
        <button type="button" *ngIf="settings.clear && !isDisabled && selectedDate != null" class="clear-all" (click)="clearSelection($event);$event.stopPropagation()">
            <span class="material-symbols-rounded">close</span>
        </button>
    </div>
</div>

<div class="picker-dropdown" #dropdown>
    <div #picker></div>
    <ng-container *ngIf="settings.calendarOptions"></ng-container>
</div>
