<form class="form-example" [formGroup]="modelForm">

    <a class="example-name" href="#default">
        <span class="material-icons">link</span>
        <h1 id="default">Listas remotas</h1>
    </a>

    <div class="example-snippet">

        <div class="code">

            <div class="body">
                <pre><code [highlight]="examples.RemoteExample"></code></pre>
                <button class="bttn icon copy" type="button" [copyToClipboard]="examples.RemoteExample" (copied)="alert('Copiado al portapapeles')">
                    <span class="material-icons">content_copy</span>
                </button>
            </div>
        </div>

        <div class="preview">

            <div class="body">

                <button class="bttn center-margin" type="button" (click)="toogleFormControlDisabled('selectRemote')">Habilitar / Deshabilitar</button>

                <ser-form-element style="min-width: 300px;">
                    <label>Lista remota</label>
                    <ser-select serControl formControlName="selectRemote" [settings]="settings"></ser-select>
                </ser-form-element>

            </div>
        </div>

    </div>

</form>
