@import 'mixins.scss';

.bdg {
    position: absolute;
    top: -8px;
    right: -8px;
    line-height: 12px;
    background: white;
    padding: 4px;
    border-radius: 50%;
    min-width: 14px;
    min-height: 14px;
    text-align: center;
    font-size: 14px;
}

.bdg.light-blue {
  background: var(--light-blue-background);
}

.bdg.blue {
    background: var(--blue-background);
}

.bdg.green {
    background: var(--green-background);
}

.bdg.yellow {
    background: var(--yellow-background);
}

.bdg.orange {
    background: var(--orange-border);
    color: white;
}

.bdg.red {
    background: red;
    color: white;
}
