@import 'mixins.scss';

li.ivh-treeview-node {
    list-style: none;

    .group{
        @include md-shadow;
        margin-bottom: 8px;
        padding: 8px 0 4px 0;
        background-color: #fbfafa;

        .group-label{
            font-size: rem(16);
        }

        .group-children{
            margin-top: 8px;
        }
    }

}
