
<h1>Botones</h1>

<div class="example-snippet">
    <div class="preview">

        <div class="body">
            <div class="buttons">
                <button type="button" class="bttn">Normal</button>
                <button type="button" class="bttn primary">Primario</button>
                <button type="button" class="bttn green">Afirmativo</button>
                <button type="button" class="bttn red">Peligro</button>
                <button type="button" class="bttn blue">Info 1</button>
                <button type="button" class="bttn light-blue">Info 2</button>
                <button type="button" class="bttn orange">Aviso</button>
                <button type="button" class="bttn orangered">Alerta</button>
                <button type="button" class="bttn yellow">Especial 1</button>
                <button type="button" class="bttn violet">Especial 2</button>
            </div>
        </div>
    </div>

    <div class="code">

        <div class="body">
            <pre><code [highlight]="examples.Buttons"></code></pre>
            <button class="bttn icon" type="button" [copyToClipboard]="examples.Buttons" (copied)="alert('Copiado al portapapeles')">
                <span class="material-icons">content_copy</span>
            </button>
        </div>
    </div>

</div>

<h1>Botones con icono</h1>

<div class="example-snippet">
    <div class="preview">

        <div class="body">
            <div class="buttons">
                <button type="button" class="bttn">
                    <i class="material-icons">home</i> Normal
                </button>
                <button type="button" class="bttn primary">
                    <i class="material-icons">home</i> Primario
                </button>
                <button type="button" class="bttn green">
                    <i class="material-icons">home</i> Verde
                </button>
                <button type="button" class="bttn red">
                    <i class="material-icons">home</i>Rojo
                </button>
                <button type="button" class="bttn blue">
                    <i class="material-icons">home</i> Azul
                </button>
                <button type="button" class="bttn light-blue">
                    <i class="material-icons">home</i> Azul claro
                </button>
                <button type="button" class="bttn orange">
                    <i class="material-icons">home</i> Naranja
                </button>
                <button type="button" class="bttn yellow">
                    <i class="material-icons">home</i> Amarillo
                </button>
                <button type="button" class="bttn violet">
                    <i class="material-icons">home</i> Violeta
                </button>
            </div>
        </div>
    </div>

    <div class="code">

        <div class="body">
            <pre><code [highlight]="examples.ButtonsWithIcon"></code></pre>
            <button class="bttn icon" type="button" [copyToClipboard]="examples.ButtonsWithIcon" (copied)="alert('Copiado al portapapeles')">
                <span class="material-icons">content_copy</span>
            </button>
        </div>
    </div>

</div>

<h1>Botones solo icono</h1>

<div class="example-snippet">
    <div class="preview">

        <div class="body">
            <div class="buttons">
                <button type="button" class="bttn icon">
                    <i class="material-icons">home</i>
                </button>
                <button type="button" class="bttn icon primary">
                    <i class="material-icons">home</i>
                </button>
                <button type="button" class="bttn icon green">
                    <i class="material-icons">home</i>
                </button>
                <button type="button" class="bttn icon red">
                    <i class="material-icons">home</i>
                </button>
                <button type="button" class="bttn icon blue">
                    <i class="material-icons">home</i>
                </button>
                <button type="button" class="bttn icon light-blue">
                    <i class="material-icons">home</i>
                </button>
                <button type="button" class="bttn icon orange">
                    <i class="material-icons">home</i>
                </button>
                <button type="button" class="bttn icon yellow">
                    <i class="material-icons">home</i>
                </button>
                <button type="button" class="bttn icon violet">
                    <i class="material-icons">home</i>
                </button>
            </div>
        </div>
    </div>

    <div class="code">

        <div class="body">
            <pre><code [highlight]="examples.ButtonsWithIcon"></code></pre>
            <button class="bttn icon" type="button" [copyToClipboard]="examples.ButtonsWithIcon" (copied)="alert('Copiado al portapapeles')">
                <span class="material-icons">content_copy</span>
            </button>
        </div>
    </div>

</div>


<h1>Botones bordeado</h1>

<div class="example-snippet">
    <div class="preview">

        <div class="body">
            <div class="buttons">
                <button type="button" class="bttn bordered">Normal</button>
                <button type="button" class="bttn bordered primary">Primario</button>
                <button type="button" class="bttn bordered green">Verde</button>
                <button type="button" class="bttn bordered red">Rojo</button>
                <button type="button" class="bttn bordered blue">Azul</button>
                <button type="button" class="bttn bordered light-blue">Azul claro</button>
                <button type="button" class="bttn bordered orange">Naranja</button>
                <button type="button" class="bttn bordered orangered">Naranja - Rojo</button>
                <button type="button" class="bttn bordered yellow">Amarillo</button>
                <button type="button" class="bttn bordered violet">Violeta</button>
            </div>
        </div>
    </div>

    <div class="code">

        <div class="body">
            <pre><code [highlight]="examples.Buttons"></code></pre>
            <button class="bttn icon" type="button" [copyToClipboard]="examples.Buttons" (copied)="alert('Copiado al portapapeles')">
                <span class="material-icons">content_copy</span>
            </button>
        </div>
    </div>

</div>

<h1>Grupo de botones</h1>

<div class="example-snippet">
    <div class="preview">

        <div class="body">
            <div class="buttons">
                <div class="bttn-group">
                    <button type="button" class="bttn">Opción 1</button>
                    <button type="button" class="bttn primary">Opción 2</button>
                    <button type="button" class="bttn">Opción 3</button>
                </div>
                <div class="bttn-group">
                    <button type="button" class="bttn">Opción 1</button>
                    <button type="button" class="bttn">Opción 2</button>
                    <button type="button" class="bttn primary">Opción 3</button>
                </div>
            </div>
        </div>
    </div>

    <div class="code">

        <div class="body">
            <pre><code [highlight]="examples.ButtonGroup"></code></pre>
            <button class="bttn icon" type="button" [copyToClipboard]="examples.ButtonGroup" (copied)="alert('Copiado al portapapeles')">
                <span class="material-icons">content_copy</span>
            </button>
        </div>
    </div>

</div>

<h1>Boton con texto oculto</h1>

<div class="example-snippet">
    <div class="preview">

        <div class="body">
            <div class="buttons">
                <button type="button" class="bttn primary text-collapse">
                    <div class="text">Opciones</div>
                    <i class="material-icons">settings</i>
                </button>
            </div>
        </div>
    </div>

    <div class="code">

        <div class="body">
            <pre><code [highlight]="examples.ButtonCollapse"></code></pre>
            <button class="bttn icon" type="button" [copyToClipboard]="examples.ButtonCollapse" (copied)="alert('Copiado al portapapeles')">
                <span class="material-icons">content_copy</span>
            </button>
        </div>
    </div>

</div>
