<form class="form-example" [formGroup]="modelForm">

    <a class="example-name" href="#bttn-bordered">
        <span class="material-icons">link</span>
        <h1 id="bttn-icon">Entrada de texto básico</h1>
    </a>

    <div class="example-snippet">

        <div class="code">

            <div class="body">
                <pre><code [highlight]="examples.InputTextExample"></code></pre>
                <button class="bttn icon copy" type="button" [copyToClipboard]="examples.InputTextExample" (copied)="alert('Copiado al portapapeles')">
                    <span class="material-icons">content_copy</span>
                </button>
            </div>
        </div>

        <div class="preview">

            <div class="body">

                <button class="bttn center-margin" type="button" (click)="toogleFormControlDisabled('text1')">Habilitar / Deshabilitar</button>

                <ser-form-element style="width: 300px;">
                    <label>Texto</label>
                    <input type="text" serControl formControlName="text1" mask="separator" thousandSeparator=".">

                    <div serErrors="text1">
                        <div serError="required">Requerido</div>
                    </div>
                </ser-form-element>

            </div>
        </div>

    </div>

    <div class="example-snippet">

        <div class="code">

            <div class="body">
                <pre><code [highlight]="examples.InputNumberExample"></code></pre>
                <button class="bttn icon copy" type="button" [copyToClipboard]="examples.InputNumberExample" (copied)="alert('Copiado al portapapeles')">
                    <span class="material-icons">content_copy</span>
                </button>
            </div>
        </div>

        <div class="preview">

            <div class="body">

                <button class="bttn center-margin" type="button" (click)="toogleFormControlDisabled('number1')">Habilitar / Deshabilitar</button>

                <ser-form-element style="width: 300px;">
                    <label>Númerico</label>
                    <input type="number" serControl formControlName="number1">

                    <div serErrors="number1">
                        <div serError="required">Requerido</div>
                    </div>
                </ser-form-element>

            </div>
        </div>

    </div>

    <div class="example-snippet">

        <div class="code">

            <div class="body">
                <pre><code [highlight]="examples.InputTextareaExample"></code></pre>
                <button class="bttn icon copy" type="button" [copyToClipboard]="examples.InputTextareaExample" (copied)="alert('Copiado al portapapeles')">
                    <span class="material-icons">content_copy</span>
                </button>
            </div>
        </div>

        <div class="preview">

            <div class="body">

                <button class="bttn center-margin" type="button" (click)="toogleFormControlDisabled('text2')">Habilitar / Deshabilitar</button>

                <ser-form-element style="width: 300px;">
                    <label>Área de texto</label>
                    <textarea serControl formControlName="text2"></textarea>

                    <div serErrors="text2">
                        <div serError="required">Requerido</div>
                    </div>
                </ser-form-element>

            </div>
        </div>

    </div>

    <div class="example-snippet">

        <div class="code">

            <div class="body">
                <pre><code [highlight]="examples.InputSelectExample"></code></pre>
                <button class="bttn icon copy" type="button" [copyToClipboard]="examples.InputSelectExample" (copied)="alert('Copiado al portapapeles')">
                    <span class="material-icons">content_copy</span>
                </button>
            </div>
        </div>

        <div class="preview">

            <div class="body">

                <button class="bttn center-margin" type="button" (click)="toogleFormControlDisabled('select1')">Habilitar / Deshabilitar</button>

                <ser-form-element style="width: 300px;">
                    <label>Lista desplegable</label>
                    <select serControl formControlName="select1">
                        <option [value]="item" *ngFor="let item of options.simpleDropdown">{{ item }}</option>
                    </select>

                    <div serErrors="select1">
                        <div serError="required">Requerido</div>
                    </div>
                </ser-form-element>

            </div>
        </div>

    </div>

</form>
