<h1 class="title">Libreria Angular de uso general</h1>

<div class="row-wrap center-center">
    <div class="install">
        npm install --save @sersol/ngx
        <button class="bttn icon" type="button" [copyToClipboard]="examples.InstallExample" (copied)="alert('Copiado al portapapeles')">
            <span class="material-icons">content_copy</span>
        </button>
    </div>

    <div class="doc">
        <a href="https://sersoluciones.github.io/ngx-doc/" class="bttn" target="_blank">Ver documentación</a>
    </div>

</div>
