<div class="toolbar" role="banner">
  <img src="assets/logo.svg" alt="SERSOL">
  <span>@SERSOL/NGX</span>
  <div class="flex"></div>
  <a href="https://www.facebook.com/sersolucionessas/" target="_blank" rel="noopener noreferrer">
    <img src="assets/facebook.svg" alt="Facebook" class="social-logo">
  </a>
  <a href="https://github.com/sersoluciones/ngx-ui" target="_blank" rel="noopener noreferrer">
    <img src="assets/github.svg" alt="Github" class="social-logo">
  </a>
</div>

<div class="content" role="main">

  <h2>Tema claro/oscuro</h2>

  <p class="description">(<a
      href="https://sersoluciones.github.io/ngx-ui-doc/classes/_prefers_color_scheme_.preferscolorscheme.html"
      target="_blank" rel="noopener noreferrer">PrefersColorScheme</a>) Clase para detectar, cambiar y observar el
    esquema de color claro/oscuro en sintonía con el sistema operativo anfitrión</p>

  <div class="dark-os-config">
    <div class="item">
      <h4>macOS Mojave+</h4>
      <a href="assets/dark-mac.png" target="_blank" rel="noopener noreferrer">
        <img src="assets/dark-mac.png" alt="macOS">
      </a>
    </div>
    <div class="item">
      <h4>Windows 10 (October 2018)+</h4>
      <a href="assets/dark-windows.png" target="_blank" rel="noopener noreferrer">
        <img src="assets/dark-windows.png" alt="Windows">
      </a>
    </div>
    <div class="item">
      <h4>iOS 13+</h4>
      <a href="assets/dark-ios.jpeg" target="_blank" rel="noopener noreferrer">
        <img src="assets/dark-ios.jpeg" alt="iOS">
      </a>
    </div>
    <div class="item">
      <h4>Android 10+</h4>
      <a href="assets/dark-android.png" target="_blank" rel="noopener noreferrer">
        <img src="assets/dark-android.png" alt="Android">
      </a>
    </div>
  </div>

  <p class="description">Ó puedes controlar de manera manual el esquema de color independiente del sistema operativo</p>

  <div class="bttn-group">
    <button type="button" class="bttn" (click)="colorscheme.enableLight()">Claro</button>
    <button type="button" class="bttn" (click)="colorscheme.enableDark()">Oscuro</button>
  </div>

  <pre><code [highlight]="examples.PrefersColorSchemeExample"></code></pre>

  <script>
    $('body').hide();</script>

  <h2>Cookies</h2>

  <p class="description">(<a href="https://sersoluciones.github.io/ngx-ui-doc/classes/_cookie_.cookies.html"
      target="_blank" rel="noopener noreferrer">Cookies</a>) Clase abstracta para obtener, actualizar y borrar cookies
    en el navegador web</p>

  <pre><code [highlight]="examples.CookiesExample"></code></pre>



  <h2>Fullscreen</h2>

  <p class="description">(<a href="https://sersoluciones.github.io/ngx-ui-doc/classes/_fullscreen_.fullscreen.html"
      target="_blank" rel="noopener noreferrer">Fullscreen</a>) Clase para entrar y salir del modo pantalla completa en
    el navegador web</p>

  <div class="bttn-group">
    <button type="button" class="bttn" (click)="fullscreen.toggle()" [disabled]="fullscreen.isEnabled">Entrar a pantalla
      completa</button>
    <button type="button" class="bttn" (click)="fullscreen.disable()" [disabled]="!fullscreen.isEnabled">Salir de
      pantalla completa</button>
  </div>

  <pre><code [highlight]="examples.FullscreenExample"></code></pre>

</div>
