@import '../../../src/styles/mixins.scss';

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-width: 0;
}

:host {
    display: grid;
    grid-template-rows: 60px 1fr;
    height: 100%;
    font-size: rem(13);

    .toolbar {
        height: 60px;
        padding: 0 32px;
        display: flex;
        align-items: center;
        background-color: var(--primary-color);
        color: white;
        font-weight: 600;

        img {
            cursor: pointer;
            height: 40px;
            margin: 0 16px;
        }

        .material-icons {
            color: white;
        }

        .social-logo {
            height: 25px;
            margin: 0 16px;

            &:hover {
                opacity: 0.8;
            }
        }
    }

    .site {
        display: grid;
        grid-template-columns: 300px 1fr;
        grid-template-rows: 100%;
        overflow: hidden;

        @media (max-width: 800px) {
            grid-template-columns: 1fr;
        }

        .sidebar {
            background-color: var(--bg-0dp);
            overflow: auto;

            @media (max-width: 800px) {
                display: none;
            }

            .item {
                padding: 16px;

                .subitems {
                    padding-left: 32px;

                    a {
                        color: #525252;
                        display: block;
                        text-decoration: none;

                        &.active {
                            color: var(--primary-color);
                            font-weight: bold;
                        }
                    }
                }
            }
        }

        .content {
            padding: 32px;
            overflow: auto;

            @media (max-width: 800px) {
                padding: 16px;
            }

            > * {
                display: block;
                max-width: 100%;
            }
        }
    }
}
