@import 'mixins.scss';

@media print {
    .page-break-after {
        page-break-after: always;
    }

    .page-break-before {
        page-break-before: auto;
    }

    .page-break-inside {
        page-break-inside: auto;
    }

    body.md-dialog-is-showing .site-wrapper {
        display: none;
    }
}