<div class="selected-list" #selectedList (click)="toggleDropdown($event)" [attr.tabindex]="0">

    <div class="values">

        <ng-container *ngIf="settings.singleSelection && hasValue(selectedItems)">

            <ng-container *ngIf="!hasValue(badgeTempl) && !hasValue(badgeItemTempl)">
                {{ getLabelText(selectedItems[0]) }}
            </ng-container>

            <ng-container *ngIf="hasValue(badgeTempl)">
                <ng-container *ngTemplateOutlet="badgeTempl.template; context:{item: selectedItems[0]}"></ng-container>
            </ng-container>

            <ng-container *ngIf="hasValue(badgeItemTempl)">
                <ng-container *ngTemplateOutlet="badgeItemTempl.template; context:{item: selectedItems[0]}"></ng-container>
            </ng-container>

        </ng-container>

        <ng-container *ngIf="!settings.singleSelection && hasValue(selectedItems)">

            <div class="token-list">
                <ng-container *ngFor="let item of selectedItems;trackBy: trackByFn.bind(this);let k = index">

                    <div *ngIf="k < (settings.badgeShowLimit - 1)" class="token">
                        <span *ngIf="!hasValue(badgeTempl) && !hasValue(badgeItemTempl)" class="label">{{ getLabelText(item) }}</span>
                        <span *ngIf="hasValue(badgeTempl)" class="label">
                            <ng-container *ngTemplateOutlet="badgeTempl.template; context:{item: item}"></ng-container>
                        </span>
                        <span *ngIf="hasValue(badgeItemTempl)" class="label">
                            <ng-container *ngTemplateOutlet="badgeItemTempl.template; context:{item: item}"></ng-container>
                        </span>

                        <span class="remove" (click)="onItemClick(item);$event.stopPropagation()">
                            <span class="material-icons">close</span>
                        </span>
                    </div>

                </ng-container>
            </div>

        </ng-container>
    </div>

    <div class="controls">
        <span class="countplaceholder" *ngIf="selectedItems?.length > settings.badgeShowLimit">+{{ selectedItems?.length - settings.badgeShowLimit }}</span>

        <button type="button" *ngIf="settings.clearAll && !isDisabled && selectedItems?.length > 0" class="clear-all" (click)="clearSelection($event);">
            <span class="material-icons">close</span>
        </button>

        <span *ngIf="!isDisabled" class="material-icons chevron" [ngClass]="{'rotate': isActive}">keyboard_arrow_down</span>
    </div>
</div>

<div #dropdownList class="dropdown-list" [ngClass]="{'single-select-mode': settings.singleSelection, 'lazy-loading': settings.lazyLoading }">

    <img class="loading-icon" *ngIf="loading" src="assets/img/loading.gif" />

    <div class="list-filter" *ngIf="settings.enableSearchFilter">

        <span class="material-icons icon-back" (click)="closeDropdown()">arrow_back</span>

        <span class="material-icons icon-search">search</span>

        <input #searchInput class="c-input not-styled" type="text" [placeholder]="settings.searchPlaceholderText" [formControl]="search" >

        <span [hidden]="!hasValue(filter)" (click)="clearSearch()" class="material-icons icon-clear">cancel</span>

        <!-- <div class="btn-container" *ngIf="settings.addNewItemOnFilter && filterLength == 0" [hidden]="filter == undefined || filter?.length == 0">
            <button class="d-btn btn-iceblue" (click)="addFilterNewItem()">{{settings.addNewButtonText}}</button>
        </div> -->

    </div>

    <div class="filter-select-all" *ngIf="!settings.lazyLoading && settings.enableFilterSelectAll && !isDisabledItemPresent">

        <div class="pure-checkbox select-all" *ngIf="!settings.groupBy && filter?.length > 0 && filterLength > 0" (click)="toggleFilterSelectAll()">
            <input type="checkbox" [checked]="isFilterSelectAll" [disabled]="settings.limitSelection == selectedItems?.length" aria-labelledby="optionName" />
            <label>
                <span [hidden]="isFilterSelectAll">{{settings.filterSelectAllText}}</span>
                <span [hidden]="!isFilterSelectAll">{{settings.filterUnSelectAllText}}</span>
            </label>
        </div>

        <div class="pure-checkbox select-all" *ngIf="settings.groupBy && filter?.length > 0 && groupedData?.length > 0" (click)="toggleFilterSelectAll()">
            <input type="checkbox" [checked]="isFilterSelectAll && filter?.length > 0" [disabled]="settings.limitSelection == selectedItems?.length" />
            <label>
                <span [hidden]="isFilterSelectAll">{{settings.filterSelectAllText}}</span>
                <span [hidden]="!isFilterSelectAll">{{settings.filterUnSelectAllText}}</span>
            </label>
        </div>
    </div>

    <div class="filter-select-all" *ngIf="settings.lazyLoading && settings.enableFilterSelectAll && !isDisabledItemPresent">
        <div class="pure-checkbox select-all" *ngIf="filter?.length > 0 && infiniteFilterLength > 0" (click)="toggleInfiniteFilterSelectAll()">
            <input type="checkbox" [checked]="isInfiniteFilterSelectAll" [disabled]="settings.limitSelection == selectedItems?.length" />
            <label>
                <span [hidden]="isInfiniteFilterSelectAll">{{ settings.filterSelectAllText }}</span>
                <span [hidden]="!isInfiniteFilterSelectAll">{{ settings.filterUnSelectAllText }}</span>
            </label>
        </div>
    </div>

    <div class="pure-checkbox select-all" *ngIf="settings.enableCheckAll && !settings.singleSelection && !settings.limitSelection && !isDisabledItemPresent" (click)="toggleSelectAll()">

        <input *ngIf="settings.showCheckbox" type="checkbox" [checked]="isSelectAll" [disabled]="settings.limitSelection == selectedItems?.length" id="selectAll"/>

        <label for="selectAll">
            <span [hidden]="isSelectAll">{{ settings.selectAllText }}</span>
            <span [hidden]="!isSelectAll">{{ settings.unSelectAllText }}</span>
        </label>
    </div>

    <div class="list-container" [style.maxHeight]="settings.maxHeight + 'px'" style="overflow: auto;" [ngClass]="{'single-select-mode': settings.singleSelection }">

        <ng-container *ngIf="!settings.groupBy">

            <ng-container *ngIf="!settings.lazyLoading">

                <div *ngIf="!hasValue(itemTempl) && !hasValue(badgeItemTempl)">
                    <div class="list">
                        <div class="item pure-checkbox" *ngFor="let item of filteredList; let i = index;" (click)="onItemClick(item)" [ngClass]="{'selected-item': isSelected(item) }">
                            <input *ngIf="settings.showCheckbox" type="checkbox" [checked]="isSelected(item)" [disabled]="(settings.limitSelection == selectedItems?.length && !isSelected(item)) || item[settings.disabledKey]" />
                            <label>{{ getLabelText(item) }}</label>
                        </div>
                    </div>
                </div>

                <div *ngIf="hasValue(itemTempl) || hasValue(badgeItemTempl)">
                    <div class="list">
                        <div class="item pure-checkbox" *ngFor="let item of filteredList; let i = index;" (click)="onItemClick(item)" [ngClass]="{'selected-item': isSelected(item) }">
                            <input *ngIf="settings.showCheckbox" type="checkbox" [checked]="isSelected(item)" [disabled]="(settings.limitSelection == selectedItems?.length && !isSelected(item)) || item[settings.disabledKey]" />
                            <label></label>
                            <ng-container *ngIf="hasValue(itemTempl)">
                                <ng-container *ngTemplateOutlet="itemTempl.template; context:{item: item}"></ng-container>
                            </ng-container>
                            <ng-container *ngIf="hasValue(badgeItemTempl)">
                                <ng-container *ngTemplateOutlet="badgeItemTempl.template; context:{item: item}"></ng-container>
                            </ng-container>
                        </div>
                    </div>
                </div>

            </ng-container>

            <ng-container *ngIf="settings.lazyLoading">

                <div *ngIf="!hasValue(itemTempl) && !hasValue(badgeItemTempl)">
                    <div class="list" virtualScroller #scroll [enableUnequalChildrenSizes]="randomSize" [items]="filteredList">
                        <div class="item pure-checkbox" *ngFor="let item of scroll.viewPortItems; let i = index;" (click)="onItemClick(item)" [ngClass]="{'selected-item': isSelected(item) }">
                            <input *ngIf="settings.showCheckbox" type="checkbox" [checked]="isSelected(item)" [disabled]="(settings.limitSelection == selectedItems?.length && !isSelected(item)) || item[settings.disabledKey]" />
                            <label>{{ getLabelText(item) }}</label>
                        </div>
                    </div>
                </div>

                <!--
                    <div (vsStart)="onScrollEnd($event)" (vsEnd)="onScrollEnd($event)">
                        <div *ngFor="let item of scroll.viewPortItems; let i = index;" (click)="onItemClick(item)" class="pure-checkbox" [ngClass]="{'selected-item': isSelected(item) }"></div>
                    </div> -->

                <div *ngIf="hasValue(itemTempl) || hasValue(badgeItemTempl)">
                    <div class="list" virtualScroller #scroll [enableUnequalChildrenSizes]="randomSize" [items]="filteredList">
                        <div class="item pure-checkbox" *ngFor="let item of scroll.viewPortItems; let i = index;" (click)="onItemClick(item)" [ngClass]="{'selected-item': isSelected(item) }">
                            <input *ngIf="settings.showCheckbox" type="checkbox" [checked]="isSelected(item)" [disabled]="(settings.limitSelection == selectedItems?.length && !isSelected(item)) || item[settings.disabledKey]" />
                            <label></label>
                            <ng-container *ngIf="hasValue(itemTempl)">
                                <ng-container *ngTemplateOutlet="itemTempl.template; context:{item: item}"></ng-container>
                            </ng-container>
                            <ng-container *ngIf="hasValue(badgeItemTempl)">
                                <ng-container *ngTemplateOutlet="badgeItemTempl.template; context:{item: item}"></ng-container>
                            </ng-container>
                        </div>
                    </div>
                </div>

            </ng-container>
        </ng-container>

        <ng-container *ngIf="settings.groupBy">

            <ng-container *ngIf="!settings.lazyLoading">

                <div *ngIf="hasValue(itemTempl)">
                    <div class="list">
                        <span *ngFor="let item of groupedData; let i = index;">
                            <div (click)="selectGroup(item)" [ngClass]="{'grp-title': item.grpTitle,'grp-item': !item.grpTitle && !settings.singleSelection}" class="pure-checkbox">
                                <input *ngIf="settings.showCheckbox && !settings.singleSelection" type="checkbox" [checked]="item.selected" [disabled]="(settings.limitSelection == selectedItems?.length && !isSelected(item)) || item[settings.disabledKey]" />
                                <label>{{ getLabelText(item) }}</label>
                                <div class="list">
                                    <span *ngFor="let val of item.list ; let j = index;">
                                        <div (click)="onItemClick(val); $event.stopPropagation()" [ngClass]="{'grp-title': val.grpTitle,'grp-item': !val.grpTitle && !settings.singleSelection}" class="pure-checkbox">
                                            <input *ngIf="settings.showCheckbox" type="checkbox" [checked]="isSelected(val)" [disabled]="(settings.limitSelection == selectedItems?.length && !isSelected(val)) || val[settings.disabledKey]" />
                                            <label></label>
                                            <ng-container *ngTemplateOutlet="itemTempl.template; context:{item: val}"></ng-container>
                                        </div>
                                    </span>
                                </div>

                            </div>
                        </span>
                    </div>
                </div>

                <div *ngIf="!hasValue(itemTempl)" [style.maxHeight]="settings.maxHeight+'px'" style="overflow: auto;">
                    <div class="list">
                        <span *ngFor="let item of groupedData ; let i = index;">
                            <div (click)="selectGroup(item)" [ngClass]="{'grp-title': item.grpTitle,'grp-item': !item.grpTitle && !settings.singleSelection}" class="pure-checkbox">
                                <input *ngIf="settings.showCheckbox && !settings.singleSelection" type="checkbox" [checked]="item.selected" [disabled]="(settings.limitSelection == selectedItems?.length && !isSelected(item)) || item[settings.disabledKey]" />
                                <label>{{ getLabelText(item) }}</label>
                                <div class="list">
                                    <span *ngFor="let val of item.list ; let j = index;">
                                        <div (click)="onItemClick(val); $event.stopPropagation()" [ngClass]="{'selected-item': isSelected(val) == true,'grp-title': val.grpTitle,'grp-item': !val.grpTitle && !settings.singleSelection}" class="pure-checkbox">
                                            <input *ngIf="settings.showCheckbox" type="checkbox" [checked]="isSelected(val)" [disabled]="(settings.limitSelection == selectedItems?.length && !isSelected(val)) || val[settings.disabledKey]" />
                                            <label>{{val[settings.labelKey]}}</label>
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </span>
                        <!-- <span *ngFor="let item of groupedData ; let i = index;">
                        <div (click)="onItemClick(item,i,$event)" *ngIf="!item.grpTitle" [ngClass]="{'grp-title': item.grpTitle,'grp-item': !item.grpTitle}" class="pure-checkbox">
                        <input *ngIf="settings.showCheckbox && !item.grpTitle" type="checkbox" [checked]="isSelected(item)" [disabled]="settings.limitSelection == selectedItems?.length && !isSelected(item)"
                        />
                        <label>{{getLabelText(item)}}</label>
                    </div>
                    <div *ngIf="item.grpTitle && !settings.selectGroup" [ngClass]="{'grp-title': item.grpTitle,'grp-item': !item.grpTitle}" class="pure-checkbox">
                        <input *ngIf="settings.showCheckbox && settings.selectGroup" type="checkbox" [checked]="isSelected(item)" [disabled]="settings.limitSelection == selectedItems?.length && !isSelected(item)"
                        />
                        <label>{{getLabelText(item)}}</label>
                    </div>
                     <div  (click)="selectGroup(item)" *ngIf="item.grpTitle && settings.selectGroup" [ngClass]="{'grp-title': item.grpTitle,'grp-item': !item.grpTitle}" class="pure-checkbox">
                        <input *ngIf="settings.showCheckbox && settings.selectGroup" type="checkbox" [checked]="item.selected" [disabled]="settings.limitSelection == selectedItems?.length && !isSelected(item)"
                        />
                        <label>{{getLabelText(item)}}</label>
                    </div>
                    </span> -->
                    </div>
                </div>

            </ng-container>

            <ng-container *ngIf="settings.lazyLoading">

                <div *ngIf="hasValue(itemTempl)" [style.maxHeight]="settings.maxHeight+'px'" style="overflow: auto;">
                    <div virtualScroller #scroll3 [enableUnequalChildrenSizes]="randomSize" [items]="virtualdata" (vsStart)="onScrollEnd($event)" (vsEnd)="onScrollEnd($event)" [ngStyle]="{'height': settings.maxHeight+'px'}" class="list">
                        <span *ngFor="let item of scroll3.viewPortItems; let i = index;">
                            <div (click)="onItemClick(item)" *ngIf="!item.grpTitle" [ngClass]="{'grp-title': item.grpTitle,'grp-item': !item.grpTitle && !settings.singleSelection}" class="pure-checkbox">
                                <input *ngIf="settings.showCheckbox && !settings.singleSelection" type="checkbox" [checked]="isSelected(item)" [disabled]="(settings.limitSelection == selectedItems?.length && !isSelected(item)) || item[settings.disabledKey]" />
                                <label></label>
                                <ng-container *ngTemplateOutlet="itemTempl.template; context:{item: item}"></ng-container>
                            </div>
                            <div *ngIf="item.grpTitle" [ngClass]="{'grp-title': item.grpTitle,'grp-item': !item.grpTitle && !settings.singleSelection}" class="pure-checkbox">
                                <input *ngIf="settings.showCheckbox" type="checkbox" [checked]="isSelected(item)" [disabled]="(settings.limitSelection == selectedItems?.length && !isSelected(item)) || item[settings.disabledKey]" />
                                <label></label>
                                <ng-container *ngTemplateOutlet="itemTempl.template; context:{item: item}"></ng-container>
                            </div>
                        </span>
                    </div>
                </div>

                <div *ngIf="!hasValue(itemTempl)" [style.maxHeight]="settings.maxHeight+'px'" style="overflow: auto;">
                    <virtual-scroller [items]="groupedData" (vsUpdate)="viewPortItems = $event" (vsEnd)="onScrollEnd($event)" [ngStyle]="{'height': settings.maxHeight+'px'}">
                        <div virtualScroller #scroll4 [enableUnequalChildrenSizes]="randomSize" [items]="virtualdata" (vsStart)="onScrollEnd($event)" (vsEnd)="onScrollEnd($event)" [ngStyle]="{'height': settings.maxHeight+'px'}" class="list">
                            <span *ngFor="let item of scroll4.viewPortItems; let i = index;">
                                <div *ngIf="item.grpTitle" [ngClass]="{'grp-title': item.grpTitle,'grp-item': !item.grpTitle && !settings.singleSelection, 'selected-item': isSelected(item) }" class="pure-checkbox">
                                    <input *ngIf="settings.showCheckbox && !item.grpTitle && !settings.singleSelection" type="checkbox" [checked]="isSelected(item)" [disabled]="(settings.limitSelection == selectedItems?.length && !isSelected(item)) || item[settings.disabledKey]" />
                                    <label>{{getLabelText(item)}}</label>
                                </div>
                                <div (click)="onItemClick(item)" *ngIf="!item.grpTitle" [ngClass]="{'grp-title': item.grpTitle,'grp-item': !item.grpTitle && !settings.singleSelection, 'selected-item': isSelected(item) }" class="pure-checkbox">
                                    <input *ngIf="settings.showCheckbox && !item.grpTitle" type="checkbox" [checked]="isSelected(item)" [disabled]="(settings.limitSelection == selectedItems?.length && !isSelected(item)) || item[settings.disabledKey]" />
                                    <label>{{getLabelText(item)}}</label>
                                </div>
                            </span>
                        </div>
                    </virtual-scroller>
                </div>

            </ng-container>

        </ng-container>

    </div>

    <h5 class="list-message" *ngIf="!hasValue(filteredList)">{{ settings.noDataLabel }}</h5>

</div>
