<div class="selected-list" #selectedList (click)="toggleDropdown($event)" [attr.tabindex]="0">

    <div class="values">

        <ng-container *ngIf="settings.singleSelection && hasValue(selectedItems)">

            <ng-container *ngIf="!hasValue(badgeTempl) && !hasValue(badgeItemTempl)">
                {{ getLabelText(selectedItems[0]) }}
            </ng-container>

            <ng-container *ngIf="hasValue(badgeTempl)">
                <ng-container *ngTemplateOutlet="badgeTempl.template; context:{item: selectedItems[0]}"></ng-container>
            </ng-container>

            <ng-container *ngIf="hasValue(badgeItemTempl)">
                <ng-container *ngTemplateOutlet="badgeItemTempl.template; context:{item: selectedItems[0]}"></ng-container>
            </ng-container>

        </ng-container>

        <ng-container *ngIf="!settings.singleSelection && hasValue(selectedItems)">

            <div class="token-list">
                <ng-container *ngFor="let item of selectedItems;trackBy: trackByFn.bind(this);let k = index">

                    <div *ngIf="k < (settings.badgeShowLimit - 1)" class="token">
                        <span *ngIf="!hasValue(badgeTempl) && !hasValue(badgeItemTempl)" class="label">{{ getLabelText(item) }}</span>
                        <span *ngIf="hasValue(badgeTempl)" class="label">
                            <ng-container *ngTemplateOutlet="badgeTempl.template; context:{item: item}"></ng-container>
                        </span>
                        <span *ngIf="hasValue(badgeItemTempl)" class="label">
                            <ng-container *ngTemplateOutlet="badgeItemTempl.template; context:{item: item}"></ng-container>
                        </span>

                        <span class="remove" (click)="onItemClick(item);$event.stopPropagation()">
                            <span class="material-icons">close</span>
                        </span>
                    </div>

                </ng-container>
            </div>

        </ng-container>
    </div>

    <div class="controls">
        <span class="countplaceholder" *ngIf="selectedItems?.length > settings.badgeShowLimit">+{{ selectedItems?.length - settings.badgeShowLimit }}</span>

        <button type="button" *ngIf="settings.clearAll && !isDisabled && selectedItems?.length > 0" class="clear-all" (click)="clearSelection($event);">
            <span class="material-icons">close</span>
        </button>

        <span *ngIf="!isDisabled" class="material-icons chevron" [ngClass]="{'rotate': isActive}">keyboard_arrow_down</span>
    </div>
</div>

<div #dropdown class="dropdown-list" [ngClass]="{'single-select-mode': settings.singleSelection, 'lazy-loading': settings.lazyLoading }">

    <div class="list-filter" *ngIf="settings.enableSearchFilter">

        <span class="material-icons icon-back" (click)="closeDropdown()">arrow_back</span>

        <span class="material-icons icon-search">search</span>

        <input #searchInput class="c-input not-styled" type="text" [placeholder]="settings.searchPlaceholderText" [formControl]="search" >

        <span [hidden]="!hasValue(filter)" (click)="clearSearch()" class="material-icons icon-clear">cancel</span>

    </div>

    <div class="pure-checkbox select-all" *ngIf="settings.enableCheckAll && !settings.singleSelection && !settings.limitSelection" (click)="toggleSelectAll()">

        <input *ngIf="settings.showCheckbox" type="checkbox" [checked]="isSelectAll" [disabled]="settings.limitSelection == selectedItems?.length" id="selectAll"/>

        <label for="selectAll">
            <span [hidden]="isSelectAll">{{ settings.selectAllText }}</span>
            <span [hidden]="!isSelectAll">{{ settings.unSelectAllText }}</span>
        </label>
    </div>

    <div class="list-container" [ngClass]="{'single-select-mode': settings.singleSelection }">

        <div #list class="list" [style.maxHeight]="settings.maxHeight + 'px'" (whenScrolled)="onScrollEnd($event)" [whenScrolledGap]="settings.scrollEndGap">

            <ng-container *ngIf="!hasValue(itemTempl) && !hasValue(badgeItemTempl); else templs">

                <div class="item pure-checkbox" *ngFor="let item of filteredList; let i = index;" (click)="onItemClick(item)" [ngClass]="{'selected-item': isSelected(item) }">
                    <input *ngIf="settings.showCheckbox" type="checkbox" [checked]="isSelected(item)" [disabled]="(settings.limitSelection == selectedItems?.length && !isSelected(item)) || item[settings.disabledKey]" />
                    <label>{{ getLabelText(item) }}</label>
                </div>

            </ng-container>

            <ng-template #templs>

                <div class="item pure-checkbox" *ngFor="let item of filteredList; let i = index;" (click)="onItemClick(item)" [ngClass]="{'selected-item': isSelected(item) }">
                    <input *ngIf="settings.showCheckbox" type="checkbox" [checked]="isSelected(item)" [disabled]="(settings.limitSelection == selectedItems?.length && !isSelected(item)) || item[settings.disabledKey]" />
                    <label></label>
                    <ng-container *ngIf="hasValue(itemTempl)">
                        <ng-container *ngTemplateOutlet="itemTempl.template; context:{item: item}"></ng-container>
                    </ng-container>
                    <ng-container *ngIf="hasValue(badgeItemTempl)">
                        <ng-container *ngTemplateOutlet="badgeItemTempl.template; context:{item: item}"></ng-container>
                    </ng-container>
                </div>

            </ng-template>

            <div *ngIf="settings.paginationState?.loading" class="loading">
                <div class="text content-placeholder"></div>
            </div>

        </div>

    </div>

    <h5 class="list-message" *ngIf="!settings.paginationState?.loading && !hasValue(filteredList)">{{ settings.noDataLabel }}</h5>

</div>
