.dark-os-config {
    width: 100%;
    overflow-x: auto;
    display: flex;

    .item {
        text-align: center;

        img {
            max-width: 300px;
            max-height: 300px;
            margin: 12px;
            box-shadow: 2px 2px 12px 0 black;
            border-radius: 4px;
        }
    }
}


.long-click {
    text-transform: uppercase;
    text-align: center;
    background-color: red;
    padding: 32px;
    border-radius: 12px;
    color: white;
    cursor: pointer;
}

.new-password:not(:empty) {
    font-size: 20px;
    font-weight: bold;
    padding: 16px;
    margin: 0 32px;
    border-radius: 8px;
    background-color: var(--bg-2dp);
}

.checkbox {
    display: flex;
    align-items: center;
    margin: 16px;
}
