<h2>
    <a class="bttn icon " href="#color-schema">
        <span class="material-icons">link</span>
    </a>
    Tema claro/oscuro
</h2>

<p class="description">
    (<a href="n-ui-doc/classes/_prefers_color_scheme_.preferscolorscheme.html" target="_blank" rel="noopener noreferrer">PrefersColorScheme</a>)
    Clase para detectar, cambiar y observar el esquema de color claro/oscuro en sintonía con el sistema operativo anfitrión
</p>

<div class="dark-os-config">
    <div class="item">
        <h4>macOS Mojave+</h4>
        <a href="assets/dark-mac.png" target="_blank" rel="noopener noreferrer">
            <img src="assets/dark-mac.png" alt="macOS">
        </a>
    </div>
    <div class="item">
        <h4>Windows 10 (October 2018)+</h4>
        <a href="assets/dark-windows.png" target="_blank" rel="noopener noreferrer">
            <img src="assets/dark-windows.png" alt="Windows">
        </a>
    </div>
    <div class="item">
        <h4>iOS 13+</h4>
        <a href="assets/dark-ios.jpeg" target="_blank" rel="noopener noreferrer">
            <img src="assets/dark-ios.jpeg" alt="iOS">
        </a>
    </div>
    <div class="item">
        <h4>Android 10+</h4>
        <a href="assets/dark-android.png" target="_blank" rel="noopener noreferrer">
            <img src="assets/dark-android.png" alt="Android">
        </a>
    </div>
</div>

<p class="description">Ó puedes controlar de manera manual el esquema de color independiente del sistema operativo</p>

<div class="bttn-group">
    <button type="button" class="bttn" (click)="colorscheme.enableLight()" [ngClass]="{blue: !colorscheme.dark}">Claro</button>
    <button type="button" class="bttn" (click)="colorscheme.enableDark()" [ngClass]="{blue: colorscheme.dark}">Oscuro</button>
</div>

<pre><code [highlight]="examples.PrefersColorSchemeExample"></code></pre>

<div class="separator"></div>

<h2>
    <a class="bttn icon " href="#cookies">
        <span class="material-icons">link</span>
    </a>
    Cookies
</h2>

<p class="description">
    (<a href="https://sersoluciones.github.io/ngx-ui-doc/classes/_cookie_.cookies.html" target="_blank" rel="noopener noreferrer">Cookies</a>)
    Clase abstracta para obtener, actualizar y borrar cookies en el navegador web
</p>

<pre><code [highlight]="examples.CookiesExample"></code></pre>

<div class="separator"></div>

<h2>
    <a class="bttn icon " href="#cookies">
        <span class="material-icons">link</span>
    </a>
    Clic ó Toque prolongado
</h2>

<p class="description">
    (<a href="https://sersoluciones.github.io/ngx-ui-doc/classes/_cookie_.cookies.html" target="_blank" rel="noopener noreferrer">Cookies</a>)
    Clase abstracta para obtener, actualizar y borrar cookies en el navegador web
</p>

<div class="long-click" longPress (onLongPress)="longClick($event)" (onShortPress)="singleClick()">
    {{ messageTypeClick }}
</div>

<pre><code [highlight]="examples.LongClickExample"></code></pre>

<div class="separator"></div>

<h2>
    <a class="bttn icon " href="#fullscreen">
        <span class="material-icons">link</span>
    </a>
    Fullscreen
</h2>

<p class="description">
    (<a href="https://sersoluciones.github.io/ngx-ui-doc/classes/_fullscreen_.fullscreen.html" target="_blank" rel="noopener noreferrer">Fullscreen</a>)
    Clase para entrar y salir del modo pantalla completa en el navegador web
</p>

<div class="bttn-group">
    <button type="button" class="bttn" (click)="fullscreen.toggle()" [disabled]="fullscreen.isEnabled">Entrar a pantalla completa</button>
    <button type="button" class="bttn" (click)="fullscreen.disable()" [disabled]="!fullscreen.isEnabled">Salir de pantalla completa</button>
</div>

<pre><code [highlight]="examples.FullscreenExample"></code></pre>

<div class="separator"></div>

<h2>
    <a class="bttn icon " href="#snackbar">
        <span class="material-icons">link</span>
    </a>
    Snackbar
</h2>

<p class="description">
    (<a href="https://sersoluciones.github.io/ngx-ui-doc/classes/_fullscreen_.fullscreen.html" target="_blank" rel="noopener noreferrer">Fullscreen</a>)
    Servicio para mostrar un snackbar temporal con un mensaje
</p>

<div class="row-wrap start-center" [formGroup]="snackbarForm">
    <ser-form-element>
        <label>Mensaje</label>
        <input serControl formControlName="msj">
    </ser-form-element>

    <ser-form-element>
        <label>Color</label>
        <ser-select serControl formControlName="class" [data]="snackbarDataClass" simple></ser-select>
    </ser-form-element>

    <ser-form-element style="min-width: 200px;">
        <label>Material Icon</label>
        <ser-select serControl formControlName="icon" [data]="snackbarDataIcon">

            <ng-template sd-badge-item let-item="item">
                <div class="select-template">
                    <span class="material-icons">{{ item }}</span>
                    <div style="margin-left: 16px;">{{ item }}</div>
                </div>
            </ng-template>

        </ser-select>
    </ser-form-element>

    <button type="button" class="bttn green" (click)="openSnackbar()">Mostrar</button>
</div>

<pre><code [highlight]="examples.FullscreenExample"></code></pre>
